[2019-06-21 00:04] JessicaS11 opened #1 "outline desired functions"
lets create a list of the types of tools/functions we'd all like to see developed, with inputs and outputs.

[2019-06-21 00:07] JessicaS11 opened #2 "Collate what's already been done and begin building documentation"
Collect scripts from ICESat-2 Hackweek repos and ICESat-2 science team to build on

[2019-06-21 00:09] #1 closed

[2019-06-21 00:09] #2 closed

[2020-01-08 20:18] JessicaS11 opened #9 "Contributor Guidelines"
As our list of contributors is starting to grow, we wanted to take this opportunity to start soliciting feedback from the community on a set of contributor guidelines. I am currently putting together a draft document, which will soon be available for comments and edits in a pull request. In the interim, I wanted to provide a space for people to share their thoughts as I put the draft guidelines to

[2020-01-10 19:48] JessicaS11 commented on #9
The first draft has been submitted as pull request #10 . Please check it out and share your thoughts.

[2020-01-23 19:18] JessicaS11 opened #11 "structuring of docs (documentation) directory"
@norlandrhagen and I are working on getting the documentation ready to put on readthedocs. We've come up with a few different ways to structure our documentation based on a number of other repos (including Pandas and altair). I'd like to propose the following directory structure and encourage thoughts and comments. A few of our conversation points that got us here are included as well.
|---doc
|

[2020-01-23 22:20] norlandrhagen commented on #11
Here is a tree-struc of your proposed directory and a trunacted tree-struc of Altair's doc folder:

icepyx proposed doc struct:
**.
└── doc
    ├── examples
    │   └── NSIDC.ipynb
    ├── make.bat
    ├── makefile
    └── source
        ├── conf.py
        ├── development
        │   └── cont_contact.rst
        ├── getting_started
        │   └── install.rst
        ├── icepyx
        │   ├── 1.

[2020-01-24 14:42] JessicaS11 commented on #11
I think we can go either way with the location of index.py, conf.py, and makefile. I'm just as happy to put them in 'doc/' as in 'doc/source/'. Do you have a reason to suggest one over the other?

I think your last proposed doc tree looks great though, with the exception of putting the is2class.rst into the user_guide directory. I will go ahead and start working on the structural changes (on the d

[2020-01-24 22:46] norlandrhagen commented on #11
Sounds great!
I don't have any strong feelings on putting them in doc/ vs doc/source/. The only reason I was thinking in doc/ was to replicate the structure of a few known packages.

[2020-01-28 15:24] JessicaS11 commented on #11
I restructured the directory and got sphinx working to build docs locally. index.rst and conf.py are in the doc/source/, while makefile is in doc/ to match where sphinx automatically looks for them. Please go ahead and make the awesome additions you worked up!

[2020-01-31 17:51] #11 closed

[2020-01-31 18:05] JessicaS11 opened #13 "automatic documentation updates"
We have [mostly] successfully pushed our documentation to be live on [read the docs](https://icepyx.readthedocs.io/en/latest/index.html). Currently, any changes to the docs-testing branch of icepyx automatically result in a rebuilding of the docs; as we move forward we'll adjust this to track the master branch. However, we're still troubleshooting a few issues:
1. Whether or not the best route for

[2020-01-31 18:12] JessicaS11 opened #14 "helpful tips for contributors"
As more people are starting submit code and examples, it's going to be increasingly important that things are independent and robust as far as links, file paths, etc. I think it would be helpful for newer contributors to have a set of helpful tips on some of these basic tasks that they can refer to. I'll work on getting a list together of some of the items I've encountered so far, but please feel

[2020-02-03 17:27] JessicaS11 commented on #13
It turns out the solution to both of these issues was to import icepyx within our documentation (specifically in the conf.py file) so ReadTheDocs (RTD) could find it. That meant that we also had to add dependencies for icepyx to the readthedocs.yml, so that RTD would successfully create an environment capable of importing icepyx. There was also an admin option to set telling RTD to create said env

[2020-02-05 18:18] JessicaS11 commented on #9
The contributor guidelines have been merged onto master, but we are still happy to take comments and suggestions on them!

[2020-02-10 21:15] JessicaS11 opened #15 "interacting with the file system"
Currently, examples and code us os.path to interact with the file system. We'd like to transition to using pathlib instead. We're looking for someone interested in helping work with us on making this transition.

[2020-02-14 19:16] JessicaS11 opened #17 "expand subsetting capabilities"
Currently, it's possible to use NSIDC's subsetter to do temporal and spatial subsetting. ICESat-2 data has many other available subsetting options. If you're interested in expanding icepyx's subsetting capabilities, please let us know! Current next steps are:
1. making it easier for the user to see what subsetting options are available
2. letting the user know if they try to use a subsetting optio

[2020-02-14 19:25] JessicaS11 opened #19 "update and expand our automated testing functions"
Functionality is rapidly being added to icepyx. We're looking for a team to make sure our test suite is fully capturing that functionality. No prior experience with automatic testing needed!

[2020-02-18 19:24] asteiker commented on #17
@JessicaS11: I am definitely interested in collaborating on this. These  are great next steps as far as improved usability and error handling as far as subsetting/reformatting options.

[2020-02-19 19:57] JessicaS11 opened #22 "interact with NSIDC API without paging"
Paging is currently used to parse through granule search results, but it is not the recommended way to interact with the API. The Icesat2Data object and its methods should be modified to not use paging.

[2020-02-24 19:26] JessicaS11 opened #24 "polygon coordinate inputs in incorrect order"
The NSIDC-API requires polygon vertices to be entered in a clockwise direction and contain only one pole. Currently, data objects can be created with polygons that don't meet these criteria, depending on how the polygon is input by the user. We need to add valid polygon checks and reordering capabilities, then add tests to make sure these new functions are performing correctly.

[2020-02-24 19:51] ShashankBice commented on #24
Points reordering should be simple to implement with some math like this: https://stackoverflow.com/questions/51074984/sorting-according-to-clockwise-point-coordinates/51075469. I can try tonight and see if it works..

[2020-02-26 17:37] JessicaS11 opened #27 "example gallery"
@norlandrhagen had the great idea to put our examples in a gallery, similar to [scikit-learn](https://scikit-learn.org/stable/auto_examples/index.html).

[2020-02-27 19:01] ShashankBice commented on #24
I did a quick hack today,
[code]
Input: `sort_cord_clockwise([(-64, 66),(-55, 72),(-55, 66),(-64, 72),(-64, 66)])`
Out: `[(-64, 66), (-64, 72), (-55, 72), (-55, 66), (-64, 66)]`
Input: `sort_cord_clockwise([(-64, 66),(-55, 66),(-64, 72),(-55, 72),(-64, 66)])`
Out: `(-64, 66), (-64, 72), (-55, 72), (-55, 66), (-64, 66)]`

@JessicaS11, Can you check with other problematic inputs, specifically for wh

[2020-03-03 22:22] liuzheng-arctic commented on #17
I am also interested. Great guidelines to go forward. I will try to add functions to generate the key values to "Coverage" of variables with the user specified variable names.

[2020-03-04 22:08] JessicaS11 commented on #17
I'm excited about all the interest in improving subsetting. I've talked with a few people who are eager to work on this, so I wanted to get everyone here on the same page.

Currently, an icesat2data object has a `show_custom_options` method (e.g. `region_a.show_custom_option(session)`) that can be called after you've logged in to Earthdata (because this information is behind the Earthdata login, a

[2020-03-11 14:38] JessicaS11 opened #33 "downloaded file unzipping and sorting"
Data files downloaded from NSIDC come in a series of directories and subdirectories with long names. Amy's tutorial included some code for managing this structure and simplifying it to put all of the data files in one place. This code has been copied into the icepyx class object, but is not yet implemented (currently commented out). It would be great if this functionality were available, either as

[2020-03-11 14:43] JessicaS11 opened #34 "create class object from local data"
Currently icepyx relies completely on user input to generate a class object, which is then used to query, order, and download data. We'd like to expand the acceptable inputs to the class to include locally available data files (either through a saved object from the previous steps or by parsing the available files as indicated by the user).

[2020-03-11 14:48] JessicaS11 opened #35 "functions to pass data to other formats"
One of icepyx's primary goals is to make it easier to work with ICESat-2 data. The present class object data structure aims to facilitate switching between multiple data structures to capitalize on other resources for data analysis. Thus, we need a set of functions for the class (e.g. to_dataframe, to_geodataframe, to_dict, to_xarray, to_netcdf, to_hdf5) that enable the user to easily put their da

[2020-03-11 17:59] JessicaS11 opened #37 "have travis CI build badge correspond to each repo"
Currently the build badge shown corresponds to the master branch for all branches (see the link in the readme). It would be ideal if the badge reflected the build status for each branch, which requires a dynamic, rather than static, link in the readme.

[2020-03-13 00:26] JessicaS11 opened #38 "speed up Travis builds"
How can we speed up our test builds, e.g. through [parallelization](https://docs.travis-ci.com/user/speeding-up-the-build/) and [caching](https://docs.travis-ci.com/user/caching/)?

[2020-03-13 18:21] asteiker opened #39 "Additional steps needed for Jupyter notebook PYTHONPATH"
Following the install guidance: "Provided the location of the repo is part of your $PYTHONPATH, you should simply be able to add import icepyx to your Python document" I ran into complications when trying to run ICESat-2_DAAC_DataAccess_Example.ipynb from my fork. I set the repo location via command line (Mac OSX):
`open .bash_profile`
`export PYTHONPATH="${PYTHONPATH}:/path/to/repo"`

And I succe

[2020-03-13 18:33] tsutterley commented on #39
My guess is that jupyter lab doesn't source from `.bash_profile` but rather from `.bashrc`.  Could probably add your `$PYTHONPATH` to `.bashrc` or to source `.bash_profile` in `.bashrc`?

see https://github.com/jupyterlab/jupyterlab/issues/1733

[2020-03-13 18:51] asteiker commented on #39
I'm not sure if a .bashrc exists for me. I get a "does not exist" error when trying to open it like I did with `.bash_profile` and I don't see it listed when I list my hidden files.

I'm not well-versed in setting python paths and environments (obviously!) so hopefully this is not an issue for other users of icepyx, or maybe my paths are set up uniquely somehow. Again I did get it to work at least

[2020-03-13 19:12] JessicaS11 commented on #39
I'm glad you got it working - I think Tyler's got a great point, and we can definitely add this pointer to the install instructions, since we provide notebooks and people are likely to be using JupyterLab. Does either of you want to submit a pull request?

[2020-04-24 02:52] arrran opened #44 "spatial_subsetting_vis.ipynb"
Hi there,
Im trying to get elevation data for a small polygon over all time available.

I've followed through spatial_subsetting_vis.ipynb and i'm wondering how you got to
` In [14] temp_gdf.head()`

`ATL08_to_dict()` gives me an empty list, not sure if that's bugs or my data. I just copied the `dataset_dict` from the tutorial.

Thanks very much! v useful module and notebooks

[2020-04-24 18:26] JessicaS11 commented on #44
Hello @arrran! Thanks for getting in touch. Could you please provide a some more information on the inputs you're using so I can recreate the problem you are having? For example, the exact commands you are running (including their inputs) that are giving you an empty output. `gda_lib.ATL08_to_dict()` takes two inputs, a list of files and a dictionary of dataset variable names/paths, but you only m

[2020-04-25 00:00] arrran commented on #44
Hi Jessica,
Thanks for the help!

I'm following your spatial_subsetting_vis.ipynb notebook, the only difference is I am using a different polygon (points attached in txt file), and I am not using a subregion.

If you look at your spatial_subsetting_vis.ipynb notebook on this github  it already has the same error message. Scroll down to `Out [31] UnboundLocalError: local variable 'df_final' referen

[2020-04-25 00:11] arrran commented on #44
Attached [here](https://github.com/icesat2py/icepyx/files/4532056/arran_test_spatial_subsetting_vis.txt) is the code I followed in case my description doesnt make sense.
Its just the code from your jupter notebook `spatial_subsetting_vis.ipynb`, except I have copied in the functions that I was fiddling with.

Cheers!

[arran_test_spatial_subsetting_vis.txt](https://github.com/icesat2py/icepyx/file

[2020-04-27 23:07] JessicaS11 commented on #44
Hello Arran,
Of course! I think I see what the problem is (and why my initial answer may not have been super helpful). When you referenced the filename and commands you were getting errors on, I immediately looked where those functions are called in the relevant example ([icepyx/doc/examples/ICESat-2_DEM_comparison_Colombia_working.ipynb](https://github.com/icesat2py/icepyx/blob/master/doc/example

[2020-05-01 03:46] arrran commented on #44
Okay great! yeah that makes sense, whoops as well as looking at the wrong notebooks i had 08/06 mixed.

I am using ATL06, just for the higher res (though I dont really know much)

I just need to set the right variables in the dictionary, the goal is to get the data I have downloaded into a geodataframe. Are there any notebooks which do this for ALT06?
I can see the huge [ATL06-data-dictionary-v001

[2020-05-01 19:03] scottyhq opened #45 "Allow installing with pip"
Installing icepyx as a Python package will facilitate things for users. Currently this command to install from the master branch works, but dependencies are note listed so importing in a new environment would fail.
`pip install git+https://github.com/icesat2py/icepyx.git`

[code]
@JessicaS11 - I could follow up with a PR to fix this if you'd like

[2020-05-05 18:40] JessicaS11 commented on #45
@scottyhq That would be excellent and greatly appreciated! I know it's fairly early in development still, but would you recommend making icepyx available on PyPI and/or Conda before the Hackweek as well?

[2020-05-05 19:27] dshean commented on #45
Sounds good.  Can we add the `-e` flag, so participants can modify source and test during the hackweek?  There are also advantages to having them pip install their own fork, so they can push any fixes/contributions upstream...

[2020-05-05 21:52] JessicaS11 commented on #44
I'm glad to hear you were able to sort out the errors!

Currently there's no collated resource I can point you towards for ATL06, though the information does exist. Some potential places to look:
- We're currently working on a tutorial notebook for variable subsetting, which includes building a dictionary for the desired data variables. You're welcome to view the [in-progress notebook](https://git

[2020-05-06 01:40] scottyhq commented on #45
Up to you @JessicaS11! Having packages facilitates more widespread use, but its understandable if you want to wait a bit while you're in early development. Once the PR above is merged you can also use github tags in lieu of package releases. For example, if you want a bookmark for the state of things during the hackweek you can run `git tag v0.0.1; git push --tags`. That way you can install a spec

[2020-05-06 02:06] arrran commented on #44
Ah yep great thanks, and yes keen to contribute anything i write!

One thing I haven't figured out: In the notebooks why do you often define a bounding box or boundary shapefile then turn subset off (e.g. [here](https://github.com/icesat2py/icepyx/blob/master/doc/examples/ICESat-2_DEM_comparison_Colombia_working.ipynb)

Also with subset off, it doesn't seem to download all  icesat2 data. What exac

[2020-05-06 13:46] #45 closed

[2020-05-06 14:38] JessicaS11 commented on #44
Awesome - thanks, @arrran!

You've hit on a question that gets asked of the NSIDC a lot. If you take a look at the data access tutorial notebook, it outlines some of these steps in more detail. The gist of it is that there are actually several stages to data access. First is a simple query that runs quickly based on metadata (CMR format in this case) stored about each granule (without ever looking

[2020-05-14 15:34] #44 closed

[2020-05-14 15:46] JessicaS11 opened #50 "make links work on both RTD and GitHub"
Automatic links can only work within RTD OR GitHub, but not both simultaneously. Hard links won't update automatically as new commits are added to the repo. A potential solution is suggested in [this issue](https://github.com/readthedocs/readthedocs.org/issues/2926) post.

[2020-05-14 15:47] #13 closed

[2020-05-14 15:47] #9 closed

[2020-05-15 13:17] JessicaS11 opened #52 "create widget for more interactive variable subsetting"
Variable subsetting is fully implemented, but the long list of available variables is cumbersome to interact with (especially for new ICESat-2 data users). JupyterHub enables the creation of widgets, providing users a more interactive interface. This issue marks our desire to create a variable selection widget within icepyx to make the process of variable selection more interactive.

[2020-05-16 01:35] #17 closed

[2020-05-19 01:10] weiji14 commented on #52
Something like [XrViz](https://github.com/intake/xrviz) would be nice. It's for visualizing n-dimensional xarray data, and built on top of [HvPlot](https://hvplot.pyviz.org) and [Panel](https://panel.pyviz.org/). Example taken from their github page:

![XrViz dashboard](https://raw.githubusercontent.com/intake/xrviz/master/docs/source/_static/images/dashboard.png)

[2020-05-19 19:36] JessicaS11 commented on #52
Thanks @weiji14 for pointing us towards this example!

[2020-05-26 01:39] tsutterley commented on #52
@JessicaS11 I can definitely help out with this

[2020-05-28 17:14] JessicaS11 commented on #24
Turns out shapely polygons have an `orient` method (thanks to @asteiker for sharing that!)

[2020-05-28 18:22] #24 closed

[2020-05-28 23:31] wallinb commented on #22
@JessicaS11 I think you are referring to using 'scrolling' rather than paging with CMR correct? I'd be happy to take this on.

[2020-05-31 11:06] weiji14 commented on #35
Hi @JessicaS11, pretty sure that most of the [`to_*`](http://xarray.pydata.org/en/v0.15.1/api.html#dataset-methods) functions you mentioned are available if you load the HDF5 files into an [xarray.Dataset](http://xarray.pydata.org/en/v0.15.1/data-structures.html#dataset), except for `to_geodataframe`. Was that what you had in mind? Plus you get all of the data variables loaded nicely, see the exam

[2020-06-01 14:44] JessicaS11 commented on #22
@wallinb - yes! That sounds right, and it would be great if you could make that happen. I'll add you to the organization so that you can create a branch for the work and push changes directly to the repo. By way of orientation: I suspect most of the changes will be in the granules module. We're also encouraging the addition of tests for any new code. Please keep in touch if you have any questions

[2020-06-01 15:06] JessicaS11 commented on #52
@tsutterley Excellent! Can one of you (@tsutterley, @liuzheng-arctic , @weiji14) take the lead on this?

Regardless, I'd like to continue the discussion here to build a brief summary/description of what the specific goals and steps to get there might be, including some notes about how the new functionality would fit within the existing code and what capabilities, if any, might need to be added to

[2020-06-03 04:22] weiji14 commented on #52
Question. Do we want the variable subsetting to happen *before* downloading from NSIDC, or *after*, as in when the file is already available locally (and we just want to select a few variables out).

Either way, the goal might be to have a user friendly way for people to find the data they need, in a visually pleasing way. It would be nice to leverage existing tools like the [Intake GUI](https://i

[2020-06-03 16:18] JessicaS11 commented on #35
Excellent @weiji14! We'd be happy to have you join the team and help make some of these things happen. I agree that leveraging existing libraries is the way to go wherever possible. The purpose of icepyx is to try and make it easier to go from data acquisition to final data products in a single workspace (versus, e.g., a download API, data processing API, then separate figure making API) and for s

[2020-06-03 16:48] JessicaS11 commented on #52
The short answer to your question is: "yes". Ideally, we'd like people to take advantage of subsetting *before* downloading so that they obtain smaller files (and shift that level of processing to the NSIDC API). Obviously, you may still end up with downloaded files with a few more variables than you will ultimately end up using (or likely want to have loaded in to local memory), so having subsett

[2020-06-03 16:50] asteiker commented on #52
Variable subsetting (before download) is supported through the NSIDC API that icepyx is currently leveraging, and this is something that at least from NSIDC's perspective we promote and support due to the reduction in data volume and processing steps required on the user end. Yes NSIDC also supports our OPeNDAP Hyrax server across our DAAC data holdings but there are current limitations as far as

[2020-06-03 21:53] weiji14 commented on #35
Cool, happy to get on board! I'll take a closer look soon. My first impression of the current ['icesat2data' class](https://github.com/icesat2py/icepyx/blob/ba0ef4b8f2c3547ae352725faf38b9dcd79d2a21/icepyx/core/icesat2data.py#L25-L761) and  [granules.py](https://github.com/icesat2py/icepyx/blob/ba0ef4b8f2c3547ae352725faf38b9dcd79d2a21/icepyx/core/granules.py#L49-L393) are that they are purely downl

[2020-06-04 02:32] weiji14 commented on #35
Ok, I've made a small PR as a start in #59 (to get the actual filepaths in the download directory locally). It's actually quite hard to work on the data if you can't actually find it! Really need to sort out the unzipping as mentioned in #33 as the files are in so many subdirectories.

Also, not too sure why you would need to bring in the local HDF5 file(s) in as an icesat2data object for point (1

[2020-06-04 16:32] JessicaS11 commented on #35
I think you raise a bunch of good points, and perhaps it could be helpful to shift the conversation towards what the best way to handle this is in the broader context of next development steps. I agree that there is limited overlap between the attributes needed for data acquisition and those needed for data processing. Maybe the solution is creating another overarching class within icepyx (similar

[2020-06-09 18:20] bradlipovsky opened #65 "broken link"
The link "ICESat-2_DAAC_DataAccess_Example" in README.rst (points to https://github.com/icesat2py/icepyx/blob/master/ICESat-2_DAAC_DataAccess_Example.ipynb) is broken.

[2020-06-09 19:21] JessicaS11 commented on #65
Thanks for pointing this out, @bradlipovsky. This is the result of the issue raised in #50; because Read The Docs and GitHub render links differently, they can only work from one place or the other. After consulting with the Pangeo team, we decided it was better to have the working ones on the doc pages over GitHub. If you're familiar with (or want to learn!) sphinx/ReadTheDocs/restructured text t

[2020-06-12 14:07] #65 closed

[2020-06-12 14:11] JessicaS11 opened #66 "subsetting - removal of too many variable paths"
When using `order_vars.remove()` and specifying a beam_list, keyword_list, and var_list, matching beams are removed from non-specified variables. See Ex 5 of the [ICESat-2 Hackweek data-access subsetting example notebook](https://github.com/ICESAT-2HackWeek/data-access/blob/master/notebooks/03-Data_Access2_Subsetting.ipynb). This issue only seems to apply to datasets characterized by beam, not tho

[2020-06-13 00:34] fspaolo commented on #35
I think this is in line with the topics we started discussing today. A few things to consider (from a heavy data user perspective):

- Do we want to keep the original nested-dictionary structure when converting to other formats? (most users only need a fraction of the information)
- It won't be easy to map to `xarray` all the paths for each group/variable for each data product (in the past, these

[2020-06-13 11:15] weiji14 commented on #35
Good to see the discussion flowing! You've raised a couple of good points, especially on the fact that a nested directory/dictionary structure is a pain to traverse efficiently. Personally I still find `xarray` to be a delight to use compared to `h5py`, but I've only been using the land ice products (ATL06 and ATL11) so I can only speak from my experience with those hdf5 files.

Depends on what fo

[2020-06-13 19:19] fspaolo commented on #15
I think I can help replacing `os.path`, `glob` and directory/file operations with `pathlib`. I have started using `pathlib` on my code as well (and love this library).

[2020-06-13 20:44] fspaolo commented on #35
You don't need to load anything into memory to see the entire HDF5 structure, you don't even need to write code (from the command line): `h5ls -r file.h5`

The first thing I do (with the original data files) is deciding what variables I want/need (which is just a fraction of the original dataset). From this point on, all the steps are calculations, starting with filtering and applying geophysical

[2020-06-14 17:45] #66 closed

[2020-06-15 17:52] friedrichknuth opened #69 "Enhancement: Add netrc for authentication"
Currently, authentication is handled via manual user input.

https://github.com/icesat2py/icepyx/blob/master/icepyx/core/Earthdata.py#L88 which uses https://docs.python.org/2/library/getpass.html

Suggest enhancement to use `netrc` library to read and pass credentials. This will enable programmatic authentication.

[2020-06-15 18:52] asteiker opened #70 "Provide guidance and improve usability of search and subset request over poles"
From Hackweek tutorial feedback, it was suggested to add clarification on how to request data over the poles, either in helper notebooks or within icepyx itself, including guidance on the input coordinate order for icepyx/nsidc bounding_box. David Shean suggested adding support for something like the standard bounds object (or other bounding box object) in shapely/geopandas/rasterio?  Or a diction

[2020-06-16 01:20] tsutterley opened #72 "local file operations for subsetting and file conversion"
adding another layer of in-memory bytesIO objects for performing local operations on subsetted files from icepyx

- subsetting to valid data points using provided or calculated quality flags
- converting to different file formats not available from NSIDC (such as [zarr](https://zarr.readthedocs.io/en/stable/))

basic addition to https://github.com/icesat2py/icepyx/blob/master/icepyx/core/granules.

[2020-06-16 01:27] fspaolo commented on #72
@tsutterley I haven't used bytesIO before. What would be the advantage over simply working on downloaded HDF5s (in the standard way)?

[2020-06-16 01:32] tsutterley commented on #72
@fspaolo mostly that the end user would only see the end result (the data they want in the form they want).  I think it would make using ICESat-2 data a little bit more approachable (if outputting the "valid" data in a simple form).  Could even split into 6 beam level datasets to work with captoolkit.

[2020-06-16 01:39] fspaolo commented on #72
Another use case we might want to think about is "what happens if the user finds out it needs another variable"? Will it have to download the data again (since we have not persisted the original files)?

[2020-06-16 01:43] weiji14 commented on #35
Agree. There's probably a whole spectrum of users from those working on land/sea ice applications, and atmospheric or forest canopy scientists that want to do different things. It would be nice to figure out whether most people are 'heavy' data users, that value memory efficiency or 'light' data users that value metadata richness, or somewhere in between. Might be good to take a survey of ICESat-2

[2020-06-16 01:51] tsutterley commented on #72
that is a good point.  With the slimmed down "valid" versions that certainly would be an issue.  But I guess if the users want to "level up" and get more variables that'd be their next step.  Having these slimmed down forms might also allow for some more exploratory uses of the data.  This certainly could be interesting (I am thinking of an animation from @joemacgregor that used an early NSIDC sub

[2020-06-16 01:57] fspaolo commented on #72
I think this can also be mitigated by providing some guidance on the "most common variables" for standard use cases, and perhaps also suggesting potential additional variables for more complex use cases.

[2020-06-16 12:02] joemacgregor commented on #72
Here's a couple of the videos Tyler mentioned for Greenland termini:
All Greenland 1993-2016: https://www.youtube.com/watch?v=8o4DnXLIhxc
Just Helheim: https://www.youtube.com/watch?v=BZR4czv2Kag
Used early NSIDC subsetter informed by termini traced from satellite imagery. Integrated it all in MATLAB. Would be cool to show this with ICESat-2 as well.

[2020-06-16 14:18] JessicaS11 commented on #72
This is a great discussion and a critical one for where icepyx goes next. It will be important to have a way for people to use/interact with data locally that is not dependent on them having just downloaded it, which raises a few questions about where/when some of these subsetting and conversion operations should happen and what files are ultimately stored for the user. The modus operandi I've bee

[2020-06-16 20:42] fspaolo commented on #72
@tsutterley and @JessicaS11 so from our discussion, we can try a (very simple) example having bytesIO functionality in granules.py calling a function from variables.py that should do the same thing with an object in-memory or on-disk. The minimal steps that would be nice to get working as an example would be:

A) Request a granule specifying variables ['x', 'y', 'z'] / get an HDF5 with /x, /y, /z

[2020-06-16 20:51] #69 closed

[2020-06-17 16:16] fspaolo opened #78 "Criteria and workflow for major changes and additions"
Starting this thread for discussion on workflow and guidelines for major modifications to the package. Here are a few topics that came to mind when I started thinking on new feature implementations:

- How to proceed when a feature addition requires significant modifications to stable classes/methods/submodules?

- How to proceed when a new implementation changes/affects the overall strategy/appro

[2020-06-17 16:31] fspaolo commented on #72
By further inspection of the codebase, I noticed there is an intention of having a "data" object (similar to the `region` object above). So in order to implement a `data` object to represent and operate local files, I think we need to first define the scope of the functionalities we want `icepyx` to have for local files. This will then define the structure and methods of the `data` object, which s

[2020-06-17 20:01] JessicaS11 commented on #78
Thanks for starting this critical conversation, @fspaolo!

Some of these points are addressed to an extent in the [icepyx Development Plan](https://icepyx.readthedocs.io/en/latest/contributing/development_plan.html), and I'll also respond here.

Right now, icepyx is young enough that it has not yet had a non-developmental release. According to the [PEP440 Versioning Standards](https://www.python.o

[2020-06-17 21:56] fperez opened #79 "Surface login/service availability errors immediately to the user if they happen"
During the 2020 hack week it seems there was a transient error with NSIDC access, but unfortunately icepyx didn't surface that info right at login time, when it probably received the error message.

Instead, the error info was stored and upon later running a regular line of code, such as
[code]
the following came back:

![image (1)](https://user-images.githubusercontent.com/57394/84954307-013e2400

[2020-06-17 22:00] JessicaS11 opened #80 "handling multiple files with different datasets/variables"
Stemming from some of the discussion in #72, a key consideration is what will an icepyx.data object hold and what operations can be done on those files. A few key questions:
1. can a single data object "contain"/handle files for multiple datasets?
2. Can a single data object hold files that contain different sets of variables (even if they're all the same dataset)?
3. What information, if any, do

[2020-06-17 22:03] JessicaS11 commented on #79
@fperez I suspect you're right. It sounds like the solution is better response handling/testing for a proper session after icepyx tries to log the user in. Is that something you could take on? It should fit well within the Earthdata class functionality.

[2020-06-17 22:11] fperez commented on #79
Thanks @JessicaS11! Yes, I'm happy to take a look at that code later on :) Unfortunately today my time for the hack week is winding down, I have to switch gears in 15 min.. But I'll tag this one for later and we can see if it can be made more robust.

[2020-06-17 22:30] fperez commented on #79
We'll need to experiment with exactly when these error codes come from NSIDC - I'm not an expert web person at all. Some input from perhaps folks on the NSIDC/EarthData side would help a lot, in terms of knowing when/which error codes can come from their end. It seems to me that what we need to do is, if a login is successful (which evidently can happen even when the service is  down), learn exact

[2020-06-17 22:42] liuzheng-arctic opened #81 "Handling multiple data order/download in the same directory"
This might overwrite the `orderIDs` file and the `id_download` file and have conflicts. It kills the kernel directly in some cases. It will be useful to generate unique filenames for each `order_granules` call and give the users a key (something similar to hash maybe) to generate these filenames for restarting download.

[2020-06-17 23:55] facusapienza21 opened #82 "numpy scalars not accepted as validate inputs in /validate_inputs.py"
During the hackweek, I observed that when I define the spatial extend using a bounding box, where each vertex is a numpy float, I receive the following error:

![Screen Shot 2020-06-17 at 4 50 12 PM](https://user-images.githubusercontent.com/39526081/84962033-9fd28100-b0ba-11ea-8519-c163351149e7.png)

I can manually solve this issue if I convert `spatial_extend` in a list of floats. I think the is

[2020-06-18 00:47] bradlipovsky opened #83 "installation issue"
When attempting to install icepyx locally, I experience the following error,
[code]

The download goes fine,

But then when I go to `import`,

[2020-06-18 01:35] dshean commented on #83
I generally try to avoid modifying sys.path, and instead use pip to manage installs when not possible with conda.

If you cd into the icepyx directory containing `setup.py`, you should be able to `pip install -e .` to install in developer mode (so you can modify source code and see changes).  This will use the first `pip` found in your shell $PATH (run `which pip` to verify), which should hopefull

[2020-06-18 01:36] dshean commented on #83
@JessicaS11, are others planning to modify the installation instructions in README, or should I submit a PR?

[2020-06-18 12:46] bradlipovsky commented on #83
Thanks @dshean that worked.  I'll leave the issue open because your question seems like a good one.

[2020-06-18 14:31] icetianli commented on #82
Hi, I met the same issue when passing bounding box to ipd.Icesat2Data function, numpy.float64 data type breaks the input check on spatial extent, the problem was solved after I converted all numpy.float64 into python floats.
![image](https://user-images.githubusercontent.com/45267156/85031932-277dc580-b177-11ea-8403-e38d9d65732d.png)

[2020-06-18 16:57] loudTom commented on #83
Hi, the installation instructions will be updated shortly to clarify the existing installation process, and outline how it can be installed from PyPI.

[2020-06-22 17:04] icetianli opened #92 "Add quick plots from OpenAltimetry"
During 2020 ICESat-2 Hackweek we explored the potential of reading unfiltered ICESat-2 directly from OpenAltimetry into memory, without downloading files onto local disk. This can be used for quickly reading and visualizing data prior to download from NSIDC. We think it would be useful to embed the OpenAltimetry API functions developed during the hackweek into Icepyx for built-in visualization and

[2020-06-24 17:32] JessicaS11 commented on #83
The updated instructions are now in the development (default) branch on the readme page (and will soon be available on read the docs as well). @bradlipovsky and @dshean, please let us know if you think they need additional updates (feel free to make those changes as well). @bradlipovsky, I've also found that if you're working in JupyterHub on Pangeo, you need to restart the kernel after the local

[2020-06-24 17:36] JessicaS11 commented on #82
Thanks for documenting this issue! @facusapienza21, I think your solution looks great. Would you be able to make that change and submit a pull request? I'm happy to walk you through the process if you're new to collaborative development or hit any roadblocks!

[2020-06-24 17:41] JessicaS11 commented on #92
Visualization and quick data query using the OpenAltimetry API would be a great asset to icepyx. @icetianli, I will add you to the Hackweek icepyx development team, which will give you the ability to create a branch on the icepyx repository and push directly to it. This way we can begin directly incorporating the resources you've developed into the icepyx code.

[2020-06-24 18:14] icetianli commented on #92
Hi @JessicaS11 Thanks for your reply and adding me to the icepyx development team, it's really exciting to be able to combine OpenAltimetry API with icepyx! I am also wondering if it's possible to add @friedrichknuth into the icepyx team as well? We have been working together on this issue since the geohackweek and I think he could contribute a lot to the development of this section!

[2020-06-25 03:37] facusapienza21 commented on #82
Hi Jessica! Yes, that will be great, I will love to contribute. This will be the first time that I am doing this, so it would be great if you can help me to do it. Thank you!

[2020-06-26 22:54] weiji14 opened #93 "Tidier git history using squash merge"
Awesome to see so many new contributors joining `icepyx`! I'm sure we'll all get some great science done, but if I could make one small request - which is to keep the git history nice looking going forward. This is what the graph looks like at the moment:

![Icepyx git history graph](https://user-images.githubusercontent.com/23487320/85906599-e6666f00-b862-11ea-98c3-02f8abc28007.png)

It's fine to

[2020-06-29 08:12] facusapienza21 commented on #82
Hi Jessica! I will love to do it. I just need some guidance here. I answer
you on the git issue, but I am not sure if you saw that.

Thank you,
Facu

On Wed, Jun 24, 2020 at 10:36 AM Jessica <notifications@github.com> wrote:

--
*Facu Sapienza*
PhD Student in Statistics
University of California, Berkeley
facusapienza.com

[2020-07-01 20:54] JessicaS11 commented on #93
Thanks @weiji14 for this suggestion. I've updated the settings to require a linear git history via squash merge commits to the development branch to which PRs are submitted.

[2020-07-01 20:54] #93 closed

[2020-07-01 20:59] JessicaS11 commented on #82
Hello @facusapienza21  - apologies for the delay. One of the items at the top of my to-do list is updating and clarifying the [contributor instructions](https://icepyx.readthedocs.io/en/latest/contributing/contribution_guidelines.html#basic-steps-to-contribute), which should be accurate if you replace "master" with "development" wherever the master branch is referenced. Would you mind trying to fo

[2020-07-01 21:04] JessicaS11 commented on #81
I think this is an important issue that we may be able to address as we move forward with the local file management/manipulation side of things. We're currently working to separate the major components of the workflow into `query` and `data` classes. Perhaps this is a situation where the two objects might have some shared functionality that can be used to handle the orderIDs file-overwriting/confl

[2020-07-01 21:06] JessicaS11 commented on #79
@asteiker @nicholas-kotlinski @wallinb Can one of you provide any of this information from the NSIDC side?

[2020-07-06 17:42] bradlipovsky opened #97 "nodename nor servname provided, or not known?"
Hello!

The following code works on the Hackweek Pangeo but not on my personal computer.

[code]

When run on my personal computer, I get the following error.  Am I doing something incorrectly?

Thanks!

Brad

[code]

[2020-07-06 21:19] #97 closed

[2020-07-09 05:57] facusapienza21 opened #100 "Automatic retrieval of multiple regions"
# the problem
The current implementation of icepyx is such that we need to access different regions independently, login into Earthdata, and then download individual h5 files for each request. Even when it is possible to use a for loop to make all these requests (see https://github.com/ICESAT-2HackWeek/data-access/blob/master/ICESat-2Hackweek_tutorial_locations.ipynb), this has the difficulties of

[2020-07-09 13:51] barcheck opened #101 "Feature request: Subset and download data by rgt"
For some processing, it would be nice to be able to download all repeats of a single or a few rgts, without having to download anything else.

[2020-07-09 16:47] JessicaS11 commented on #101
@asteiker @wallinb @nicholas-kotlinski @tsutterley Do you know if this is something that's possible within the NSIDC or CMR APIs? I know it's been a topic of discussion whether or not it could be implemented on the user (icepyx) end.

[2020-07-09 19:27] fspaolo commented on #101
Wouldn't this be a matter of just filtering the list of files by selecting the RGT number from the file name? If the user specifies an area, `icepyx` could query every granule that intersects that area and select only the specific RGTs (and download just that area or the complete orbits).

[2020-07-09 22:24] wallinb commented on #101
I think this is possible in the CMR/EGI queries too, though it might require using related orbit parameters instead of the RGT number directly, e.g. equator crossing longitude: [https://cmr.earthdata.nasa.gov/search/granules?short_name=ATL03&page_size=2000&page_num=1&equator_crossing_longitude=103.4,103.5](https://cmr.earthdata.nasa.gov/search/granules?short_name=ATL03&page_size=2000&page_num=1&eq

[2020-07-09 23:57] tsutterley commented on #101
I think we could also use the orbit_number parameter to map from RGT.  That way we don't have to download a larger zip file of unwanted RGTs or figure out the mapping between RGT and crossing longitude.
[code]

For example:
- Track 314 Cycle 1: https://cmr.earthdata.nasa.gov/search/granules?short_name=ATL03&page_size=2000&page_num=1&orbit_number=515&version=003
- Track 314 Cycle 2: https://cmr.ear

[2020-07-13 00:59] tsutterley commented on #101
What i put in the PR is kinda a combo of @fspaolo and @wallinb 's suggestions.  I parsed the filenames from `avail_granules(ids=True)` to get the list of RGTs and cycles that are available from a given spatial and temporal search domain.  I then added keywords to the query to be able to reduce to a given cycle or RGT using the `cmr_orbit_parameter` function listed above.  Gives you the option to s

[2020-07-16 17:52] JessicaS11 opened #104 "fix duplicate and ambiguous variable names"
some attributes (e.g. `source` and `_source`) have different functionalities. These should be made consistent. Relatedly, `files` is an ambiguous variable name.

[2020-07-16 17:54] JessicaS11 commented on #104
`dataset` should become `dataset_id` in line with NSIDC terminology

[2020-07-22 13:46] #101 closed

[2020-07-27 21:44] weiji14 opened #106 "An intake catalog for ICESat-2 ATLAS data"
Just continuing the discussion from the recent [Icepyx meeting](https://discourse.pangeo.io/t/icepyx-team-meetings/722) where there was an interest on [Intake](https://intake.readthedocs.io) catalogs. To make things more concrete on what an 'intake' catalog is, here's a link to an example for ATL06 data I've made, and a short snippet.

https://github.com/weiji14/deepicedrain/blob/17067ad3cb2c8165d

[2020-07-30 17:29] JessicaS11 opened #107 "standardize import statements"
set up icepyx to use ipx abbreviation and alias imports for things like query.Query

[2020-07-30 17:30] JessicaS11 opened #108 "update docs with Discourse info and meeting info"
update and clarify our contact page and provide invitation and notice of regular meetings

[2020-07-30 17:30] JessicaS11 opened #109 "add and populate release notes"

[2020-07-30 21:03] JessicaS11 opened #110 "front facing docs page"
Turn the front-facing documentation page into a one-stop-shop of information about icepyx (both on GitHub and ReadTheDocs). @fspaolo suggested [Jekyll's page](https://jekyllrb.com/) as an example - everything is captured simply and easily without scrolling. We'd like to implement something analogous for icepyx - all the resources easily accessible in the first place people see!

[2020-07-31 15:39] slhowardESR opened #111 "Problem selecting region that crosses the dateline (180)"
When trying to select a subsetting region that crosses the dateline, i get an error : invalid bounding box longitudes.

the basic code:
[code]

![error](https://user-images.githubusercontent.com/5480396/89051192-b817fb80-d308-11ea-9a78-8b0ada0e61a5.PNG)

the same code works fine for spatial_extent = [162.0, -78.95, 180 , -75.7]  or   spatial_extent = [-175.77, -79.2, -160.0, -75.88],

[2020-07-31 15:40] JessicaS11 opened #112 "add upgrade instructions to docs"
We have install instructions, but nothing for updating. We should add update info (or at least links) to the install instructions and include a link to the install/update instructions from the ChangeLog page.

[2020-07-31 15:44] JessicaS11 commented on #111
Thanks for sharing this error, @slhowardESR. This behavior is due to a validation check that wants the second longitude entered to be greater than the first longitude entered (to prevent users from entering a "backwards" bounding box). This clearly is a problem for boxes that cross the dateline, so we'll have to modify our check to include this situation.

[2020-07-31 18:36] fspaolo commented on #110
An alternative to Jekyll is [Hugo](https://gohugo.io/). Both are well maintained and have a large community. All we need to do is select a theme from their galleries and add it to the `icepyx` repo as [GitHub Pages](https://pages.github.com/).

Jekyll themes: https://jamstackthemes.dev/ssg/jekyll/

Hugo themes: https://themes.gohugo.io/

(you can loose yourself choosing... I warn you)

[2020-07-31 21:25] #111 closed

[2020-07-31 21:49] nicholas-kotlinski commented on #79
It seems as though a 503 would not be generated from, or delivered by, NSIDC proper - but that the error is passed along from dependent upstream systems like EDSC or CMR. Based on some sleuthing by Amy FitzGerrell at NSIDC, it seems this most often happens during preventative maintenance on their end. When the error occurs outside of planned preventative maintenance, it’s not possible to predict i

[2020-07-31 21:58] asteiker commented on #79
A few additional points: This error may be caused by either CMR or Earthdata Login. Earthdata Search Client (which we refer to internally across EOSDIS as "EDSC") isn't involved in our API response (though it also queries the NSIDC API just like icepyx or any other application or client). Both the CMR and Earthdata Login rarely have planned maintenance in their production environment so *usually*

[2020-08-10 19:43] slhowardESR commented on #111
Hi @JessicaS11 , I am using the updated version of this now, and setting up a bounding box that crosses the date line works well, however,  I now have a problem with accessing the data that i think is still related to the dateline issue, but maybe not related code wise.

this part of the code I am using works fine now (if failed previously):

[code]
However, it fails when I try to start accessing

[2020-08-11 17:41] JessicaS11 opened #114 "large files in git history"
_Originally posted by @weiji14 in https://github.com/icesat2py/icepyx/pull/95#issuecomment-659309089_

Thanks for pointing this out, @weiji14. I think these files have been present for awhile, but they were moved in the commit you point out. In looking into it, there are a few hdf5 files that are much larger that were accidentally uploaded early on and obviously now show up in the git history too.

[2020-08-11 17:41] JessicaS11 commented on #114
@scottyhq Any ideas, since you helped solve this issue in the hackweek repos?

[2020-08-11 18:10] scottyhq commented on #114
@JessicaS11 - yes I'd recommend scrubbing big files from the commit history, which would mean contributors need to re-sync with this upstream repository. It's a bit disruptive, but better than a bloated repository.

I see the following big files (using second answer here https://stackoverflow.com/questions/10622179/how-to-find-identify-large-commits-in-git-history)
[code]
You'll have to follow thi

[2020-08-12 15:20] JessicaS11 opened #117 "built-in visualization of bounding box breaks across datelin"
When a bounding box that crosses the dateline is entered, the `region_a.visualize_spatial_extent()` function erroneously plots the box with the longitudes effectively switched. However, the information is correctly submitted to Earthdata for querying and ordering/downloading data.

[2020-08-12 15:24] JessicaS11 commented on #111
Hello @slhowardESR! If I enter the spatial extent (and other inputs) that you show above, `spatial_extent = [162.0, -78.95, 185, -75.7]`, I get an invalid longitude error, as expected, because one of the longitude values is not between the NSIDC/CMR mandated [-180, 180]. If I instead enter it as -175 (`spatial_extent = [162.0, -78.95, -175, -75.7]`), I get that over 1000 granules are available (th

[2020-08-12 16:00] JessicaS11 commented on #114
Thanks @scottyhq. These excellent resources are all open tabs for me (that's how I found the big files to begin with!) and I was just hoping for a less potentially disruptive solution. I'm guessing this means that any existing branches will need to be closed or rebased to prevent reintroduction, right? Is the best way to do this going to be fix the master branch directly locally, force push the ch

[2020-08-12 20:28] weiji14 commented on #114
There's currently a movement towards replacing the 'master' branch name with a more neutral name like 'main' (see https://github.com/github/renaming), and this ties in with our [code of conduct](https://github.com/icesat2py/icepyx/blob/development/code_of_conduct.md) to be mindful of our language. Such changes are always disruptive, but I think it presents an opportunity for us to 'tidy' up our hi

[2020-08-13 15:14] slhowardESR commented on #111
Hi @JessicaS11 ,  if I use ` spatial_extent = [162.0, -78.95, -175, -75.7]`  I still get an error when I run:  `region_a = ipd.Icesat2Data(short_name, spatial_extent, date_range)
`
![image](https://user-images.githubusercontent.com/5480396/90151096-37f78a00-dd3b-11ea-8744-2fe88e82c64b.png)

So, I assumed (incorrectly) that I just had to use longitude as 0-360.   (and it makes sense that this doesn

[2020-08-13 15:46] JessicaS11 commented on #111
Hello @slhowardESR. Thanks for this update. Your assumption on 0-360deg inputs totally makes sense given the error you were seeing. After you git pulled the most recent development version, make sure that you `pip install -e.` from inside the icepyx repo. Then restart your notebook kernel (if you're working in a notebook). From the traceback, it looks like you're still working in the older version

[2020-08-13 15:56] slhowardESR commented on #111
okay - awesome.  Thanks, That helps!

[2020-08-14 15:57] JessicaS11 commented on #114
Great idea @weiji14. I'd been thinking about when/how to switch to the use of "main", so this seems like a great opportunity to make several big changes at once (and even make some of them easier). I've got a few other boxes to check and then hopefully I can get started on this!

[2020-08-14 20:06] #108 closed

[2020-08-14 20:06] #109 closed

[2020-08-17 21:13] #107 closed

[2020-08-29 00:26] weiji14 commented on #114
Been having trouble finding the *.h5 files in the git history, does anyone know when they were inserted? Specifically the commit date and/or hash.

- icepyx/data/ATL06_20190101001723_00540210_209_01.h5
- icepyx/data/ATL06_20190101003047_00540212_209_01.h5
- icepyx/data/ATL06_20190101002504_00540211_209_01.h5

I can isolate the two Tandem X DEM *.tif files, but was wondering why the *.h5 files seem

[2020-08-30 02:50] weiji14 opened #131 "Simplify git workflow to just be on one 'main' branch"
Could we just have one default 'main' branch, and delete the 'development' branch? I don't want everyone to spend time re-learning stuff, but since a major change is happening anyway at #130, now might be a good time to raise this issue.

Current state:

- Contributor works on a PR at branch 'feature-X', which is reviewed and merged into 'development'
- At release, a PR from 'development' to 'mast

[2020-08-31 16:32] JessicaS11 commented on #131
Hello @weiji14. The development team/ICESat-2 project group during the Hackweek decided to transition to a development and master/main branch model in order to separate out the multiple directions of rapid development from the broader release schedule while maintaining a stable version on master. I'll note that at the time there was a not yet a `pip install` option, so other than tags there was no

[2020-08-31 16:32] #131 closed

[2020-09-09 01:48] weiji14 opened #134 "Integrating with Valkyrie - ICESat + Operation IceBridge + ICESat-2"
A single source of ice elevation data from 1993 to present?

![Valkyrie coverage from 1993-2019-](https://github.com/nsidc/NSIDC-Data-Tutorials/raw/valkyrie/notebooks/Valkyrie/img/valkyrie-coverage.jpg)

Valkyrie was mentioned at one of the IcePyx team meetings last month, but I just stumbled on the work that @andypbarrett and others have been doing at https://github.com/nsidc/NSIDC-Data-Tutorials

[2020-09-09 02:55] andypbarrett commented on #134
Glad you found this.

The work for Valkyrie was done by developers at NSIDC; Kevin Beam and Luis
Lopez.

Andy

On Tue, Sep 8, 2020 at 7:49 PM Wei Ji <notifications@github.com> wrote:

[2020-09-09 12:39] JessicaS11 commented on #134
@weiji14 Thanks for posting these resources. I'm going to close this issue and ask that since this is more of an informational/discussion post we move the conversation to our corner of [Pangeo Discourse](https://discourse.pangeo.io/c/science/icesat-2/16) as a new topic.

[2020-09-09 12:39] #134 closed

[2020-09-10 15:08] JessicaS11 commented on #114
@scottyhq I get a fatal error (`Cannot open existing pack file 'objects/pack/*.idx'`) when I run the `join` one-liner from the SO post you linked, but I've been using the "blazingly fast shell one-liner" answer with success. I've modified the first line of it to run on specific branches (e.g.
```git rev-list --objects --branches remotes/origin/master | git cat-file --batch-check='%(objecttype) %(o

[2020-09-10 20:05] JessicaS11 commented on #114
UPDATE: I've rebased the current master branch (so up to tag v.0.3.0) onto the main branch (currently sitting at commit `deebe98 (origin/main) fix version`, without the large .tif files (see #130). I updated .gitignore to include .tif and other large data files. Now, `git diff origin/jsmain origin/master` shows
[code]
as I'd expect. What I'd like to do is force push the jsmain branch to origin/mas

[2020-09-10 20:48] weiji14 commented on #114
After taking a quick look, it seems like you've done a pretty good job here (essentially rewriting only the history on 'master' after June 2020 but keeping the rest intact). Since you've informed everyone already (via email or otherwise) that this is happening, I'm +1 for going ahead with the rewrite.

Yep, this is ok.

I'm happy with this (separating the 'large *.tif file removal' task from the '

[2020-09-14 14:48] JessicaS11 commented on #114
I've updated the master and development branches as indicated. For anyone with a current branch open (@annavalentine @bidhya @CharlieHewitt1 @wallinb @fspaolo @trevorskaggs @kelseybisson), so long as your PR to development is SQUASH MERGED, it should not reintroduce the large tif files to the history. However, your PR will show a lot of changes relative to the development branch due to the history

[2020-09-14 18:07] #114 closed

[2020-09-25 23:05] weiji14 commented on #104
Hi @JessicaS11, are you currently working on this? Also, maybe `dataset` (e.g. ATL06) should be `product` as you mentioned at https://github.com/icesat2py/icepyx/pull/144#discussion_r489482421

[2020-10-22 16:27] JohnnyRyan1 opened #145 "order_vars subsetting command error"
I have had trouble subsetting ICESat-2 data (ATL07) over the last few days. The code below worked a few weeks ago:

[code]

When I try the `region_a.order_vars` command I get the following error:

[code]

[2020-10-22 16:55] asteiker commented on #145
It looks like something may have changed with the service metadata we leverage at NSIDC to surface service options so this `normalProj` value included in that service xml is no longer there. I'll update the issue once I have more information.

[2020-10-29 03:44] asteiker commented on #145
I have a fix (`fix-normalproj` branch) in my fork but I did this based off of master since I wasn't sure if this should be merged as a hot fix prior to merging into development. Otherwise I can create a new branch and make updates in is2ref.py as opposed to is2class.py. @JessicaS11 or others involved in active development, if you have any guidance on this, please let me know. Thanks!

[2020-10-29 20:11] JessicaS11 commented on #145
Thanks for writing a fix, @asteiker! We don't yet have an "official" hotfix workflow, but if you submit a PR to development then we can can do a minor update to master to get the other items sitting on development through. Either way, I'd check that your fork is up-to-date, because the current master shouldn't have anything except a deprecation warning in `is2class.py`.

[2020-10-30 17:28] JessicaS11 opened #146 "custom bib entry labeling with pybtex"
We use the sphinx extension for bibtex to include references in our documentation. The extension (`sphinxcontrib.bibtex`) uses `pybtex` under the hood to parse and format the bibtex entries. It would be great if we could customize the labels that are used for each reference entry (or remove them), but the pybtex examples are thin on how to control what bibtex entry field is used for the label or h

[2020-11-12 15:53] bradlipovsky opened #151 "Bug in checking longitude bounds?"
I think there is a bug in checking the longitude bounds for the input of Query (?)

[code]
The documentation states "bounding box: Given in decimal degrees for the lower left longitude, lower left latitude, upper right longitude, and upper right latitude"

Technically both spatial_extents above fit this description.  The first one just describes a funny bounding box that stretches all the way arou

[2020-11-12 20:08] JessicaS11 commented on #151
@bradlipovsky Good catch! It looks like when I updated the checks to do a better job handling crossing the dateline, I still missed a bunch of edge cases (one of which you've just found). I'm wondering if there are any tools built into a geospatial library (e.g. pyproj or shapely) that we can use to test for valid inputs rather than enumerating all cases, merely warning the user if they're using t

[2020-11-23 15:40] icetianli commented on #145
Just caught the same issue here when trying to access the variable list with `show_custom_options` and `order_vars`: `     84     normalproj = [Projections.attrib for Projections in root.iter("Projections")]
     85     normalproj_vals = []
---> 86     normalproj_vals.append(normalproj[0]["normalProj"])
     87     format_proj = normalproj_vals[0].split(",")
     88     format_proj.remove("")

Key

[2020-12-01 17:12] #145 closed

[2021-01-09 03:06] facusapienza21 opened #159 "Error querying complex polygons with many vertices"
I am trying to use complex polygons to retrieve ATL06 data but I received a `syntax error`. Here is a fully contained example I made to illustrate this. The polygon I am using is one of the [drainage basins](https://icesat4.gsfc.nasa.gov/cryo_data/ant_grn_drainage_systems.php) of Greenland, with around 18.000 vertices.

<img width="861" alt="Screen Shot 2021-01-08 at 11 51 57 PM" src="https://user

[2021-01-09 20:06] PAUL201709 opened #160 "cannot import name icesat2data from icepyx"
Hello,

I am trying to install icepyx on my mac, and I tried both using 'pip install icepyx' and 'git clone https://github.com/icesat2py/icepyx.git'

But for either way, it seems the icepyx was installed but icesat2data cannot be found.

I noticed a previous issue, and I cd into the icepyx folder with setup.py and use pip install -e .
However, after this, it still cannot find icesat2data....

Trac

[2021-01-11 18:42] JessicaS11 commented on #160
Hello @PAUL201709. Thanks for reaching out. Both of your install methods look correct.

The `icesat2data` class object was [deprecated as of v0.3.1](https://icepyx.readthedocs.io/en/latest/user_guide/documentation/icepyx.html). We transitioned instead to `Query`, as part of a larger effort to separate data access from data analysis. Try updating your syntax to:
[code]

For the most up-to-date [exa

[2021-01-11 18:57] JessicaS11 commented on #159
Hello @facusapienza21! Thanks for sharing your issue and digging in to where it's coming from. Could you provide the full error traceback (it's cut off in your screenshot, and I'd like to see exactly where it's coming from). icepyx actually uses both a simplified (for the initial query, to find potential data) and non-simplified version of your polygon (for the actual subsetting). How we move forw

[2021-01-12 01:23] facusapienza21 commented on #159
Hi @JessicaS11 ! Here is the full error message I get:

<img width="1043" alt="Screen Shot 2021-01-11 at 10 20 45 PM" src="https://user-images.githubusercontent.com/39526081/104257118-719ffe80-545b-11eb-868f-a8586d5e12c2.png">

Let me know if you want me to try something else or I can help to solve the issue. Thank you!

[2021-01-12 14:22] PAUL201709 commented on #160
Hi Jessica,

Thank you so much for your help!

Previously, I used the material from https://github.com/ICESAT-2HackWeek/ICESat2_hackweek_tutorials
The third class in this series.

Paul

[2021-01-12 19:22] JessicaS11 commented on #160
Of course - I'm glad you were able to get things working!

Thanks for sharing which materials you are using. For future reference, the latest versions of the Hackweek tutorials (some had errors corrected or notes added after the 2020 event) can be found at: https://github.com/ICESAT-2HackWeek/2020_ICESat-2_Hackweek_Tutorials

[2021-01-12 19:22] #160 closed

[2021-01-12 19:35] JessicaS11 commented on #159
Thanks for the full traceback, @facusapienza21. It looks like the error is coming from the actual request to NSIDC, so we'll have to dig in there to get more information. I seem to remember a previous conversation with @asteiker or @nicholas-kotlinski about subsetter limitations in terms of polygon detail, so perhaps they can provide some input on this specific case. Regardless, our first step is

[2021-01-13 23:24] nicholas-kotlinski commented on #159
@JessicaS11 @asteiker @facusapienza21 - Hi All, I don’t think we have a good answer on what the limit for polygon vertices is. David Auty, the lead EOSDIS engineer, who built our subsetter, provided some commentary a while back: "...I would think anything more than a few hundred points is better put into a shapefile.” As to why we don't know for sure what the vertex limit is, “…there are many exte

[2021-01-14 00:40] dshean commented on #159
Hi all.  This popped up on my radar.
If the issue is the complexity of the input polygon geometry, one solution might be to add some checks (i.e., number of vertices) and some automated functionality within icepyx (or on NSIDC side) to simplify the input polygon before attempting to do anything with it.  Should be pretty straightforward with geopandas/shapely simplify: https://shapely.readthedocs.

[2021-01-14 03:29] facusapienza21 commented on #159
Hi everyone! A few thoughts on this.

1. I tried the same polygon in a shapefile and I received the same message error, which makes me think that the problem is directly in the request of the granules.
2. Following @dshean idea, my first thought on this was to write a function that finds a value of the tolerance in the simplify method such that the number of vertices in the simplified polygon does

[2021-01-14 17:19] JessicaS11 commented on #159
Thanks @nicholas-kotlinski for the update from the NSIDC end. Is it safe to say, then, that even in a shapefile the geometry may be too complex for the subsetter? Or can you test it directly?

Great suggestions, @dshean. We use `shapely.simplify()` during the granule search step (it speeds things up a lot and isn't necessary to have the full spatial resolution there), so I agree that using it in t

[2021-01-16 16:13] nmt28 opened #162 "socket.gaierror: [Errno 8]"
I recently updated my version of icepyx (I was using a really old version) and also helped a colleague install icepyx. When trying to download data we both got the error:

"socket.gaierror: [Errno 8] nodename nor servname provided, or not known"

I tacked this down to socket not being able to get the localhostname adequately. I ended up changing lines 48 and 49 in Earthdata.py:

hostname = socket.

[2021-01-19 19:45] JessicaS11 commented on #162
Thanks for getting in touch, @nmt28, and sharing your issue and solution. It sounded familiar to me, and after some digging it turns out others had had this issue before (#97). It was fixed (#98), and then I managed to promptly partially undo the advances when later merging in an earlier (#96) PR. I'll get the fix back into the development branch so that it will be in the next release.

Thanks as

[2021-01-19 19:46] #162 closed

[2021-01-19 20:14] nmt28 commented on #162
Thanks @JessicaS11. I did look out for a past issue but only browsed the 'open' issues' - D'oh! But at least we caught the bug (again!).

Will definitely keep an eye out for upcoming meetings!

[2021-01-20 15:32] JessicaS11 commented on #162
That's reasonable (only looking at open issues!). Thanks for catching it (again!).

[2021-01-25 21:31] wallinb opened #165 "Add necessary headers/metadata to api requests to facilitate metrics collection at NSIDC"
I think adding the 'client-id' header with value 'icepyx' to CMR/EGI requests and downloads would enable NSIDC Ops to identify those requests as from icepyx and subsequently provide usage metrics back to icepyx.

[2021-01-26 14:51] JessicaS11 commented on #165
Thanks for opening this issue, @wallinb, and being willing to take this on. From some emails I have, it looks like the exact syntax is expected to be: `client_string=icepyx`. I'll defer to your "insider" knowledge if that's no longer the case though.

In having a quick look through the code base, it looks like we can add it as a [required parameter](https://github.com/icesat2py/icepyx/blob/9446737

[2021-01-26 19:37] wallinb commented on #165
Happy to help! I was going off the the CMR documentation for 'client_id':

Client-Id - Indicates a name for the client using the CMR API. Specifying this helps Operations monitor query performance per client. It can also make it easier for them to identify your requests if you contact them for assistance.

But it may be different for the ordering API and I think we would want to have both. I'm che

[2021-01-27 11:49] icetianli opened #166 "Error in requesting specific RGTs and cycles"
I was trying to download different cycles of ground tracks of interest by passing a cycle list and a track list. I know a similar [issue](https://github.com/icesat2py/icepyx/issues/101) has been discussed before, but when I tried to get multiple RGTs of one cycle, the returned dataset contains all the tracks in between the RGT numbers of this track list, instead of only returning the two RGTs I am

[2021-01-27 21:39] JessicaS11 commented on #165
Awesome - thanks! I agree that both sounds like the way to go.

[2021-01-28 19:53] JessicaS11 commented on #166
The KeyError is coming from the lack of the appropriate key in the dictionary of results returned from NSIDC. I started tackling #79 accidentally in working through your issue, and if you run this on the [surf_errs branch](https://github.com/icesat2py/icepyx/tree/surf_errs) you'll at least now get a ValueError that surfaces the error coming from NSIDC. That error says: `["orbit_number must be an n

[2021-01-28 20:00] JessicaS11 commented on #79
In digging into #166, I just started a branch [surf_err](https://github.com/icesat2py/icepyx/tree/surf_errs) that completes the first step of this issue (surfaces errors returned during the `granules.get_avail()` search step of Query). It'd be great if @facusapienza21 or @fperez could begin expanding this to other areas of API interaction to move this issue along.

[2021-01-29 11:38] icetianli commented on #166
Thanks @JessicaS11 for checking on this issue and I have updated the code blocks! Just tried `surf_errs branch` and it indeed shows `ValueError: An error was returned from NSIDC in regards to your query:`. It's interesting that it works fine if I only pass one cycle '06' or '07' each time, but not for both cycles.

[2021-01-29 18:25] dpyles97 commented on #166
I am having similar issues as @icetianli. Both of these issues also extend to query's for a single RGT, like so:

[code]
This query for RGT '0468' returns cycles '03' and '04', but also many other unwanted RGT's:
[code]
Similarly, a query containing more than two cycles returns the `KeyError: ‘feed’`:
[code]
[code]
From my experience, this `KeyError: ‘feed’` error is generated by the following thr

[2021-02-01 15:49] JessicaS11 commented on #166
Thanks for all the detailed examples @icetianli and @dpyles97. I've figured out what the issue is, with the help of a previous error post on [Discourse](https://discourse.pangeo.io/t/strange-error-in-icepyx/919). Unfortunately, right now the limitation is from the CMR (Common Metadata Repository) end (one of the underlying tools that icepyx uses to actually order the correct data from NSIDC).

Beh

[2021-02-01 16:38] icetianli commented on #166
Great, thanks @JessicaS11 for keeping us updated! I am happy to help with this when the `orbit_numbers` is solved by the CMR team.

[2021-02-01 20:39] dpyles97 commented on #166
Thanks for the update, @JessicaS11! Good to know - I hope we can get a work-around for these issues in the not too distant future.

[2021-02-03 23:29] asteiker opened #169 "Evaluate the latest CMR python library to determine if it meets the needs of icepyx"
The CMR team has recently published a basic python library that can search collections and granules using the CMR API behind the scenes: https://github.com/nasa/eo-metadata-tools/tree/master/CMR/python

This has relatively limited functionality as an initial release but it may be worth evaluating if this type of library could suit the needs of icepyx in the future, and/or if any CMR code that has

[2021-02-04 01:40] lsetiawan opened #170 "Releasing v0.3.3 to fix conda-forge build issue"
## Overview

After merging https://github.com/icesat2py/icepyx/pull/168. I think it's good to release a minor version 0.3.3 to resolve https://github.com/conda-forge/staged-recipes/pull/13866. Since requirements.txt and LICENSE files are missing from the package.

Build error for conda package can be found [here](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=272717&view

[2021-02-04 01:46] lsetiawan commented on #170
Seems like the recent use of `setuptools_scm` is causing versioning error on the pypi side, maybe the format of dev versions need to change: https://travis-ci.com/github/icesat2py/icepyx/builds/216001973#L761

[2021-02-04 02:00] weiji14 commented on #170
Oops. So we need to use the `no-local-version` scheme when uploading to PyPI. See documentation at https://github.com/pypa/setuptools_scm#version-number-construction and https://github.com/GenericMappingTools/pygmt/pull/695/files#diff-75e8bbdd253f4a71a14114808840e63b6a9c23529499687d148025d860336504R45 for an example on how to fix the CI.

[2021-02-04 02:01] JessicaS11 commented on #170
When you say requirements.txt and LICENSE files are missing, do you mean in the recipe (or PyPI build that the recipe is pulling from), since they exist in the repo itself? For my own future reference, if these files are updated in the icepyx repo, will I need to also make those changes to the conda-forge recipe?

Does `setuptools_scm` automatically do a new PyPI build every time something is push

[2021-02-04 16:48] lsetiawan commented on #170
It is missing from the source file that gets build from `python setup.py sdist`. This is causing an error, since in setup.py you read that requirements.txt. The reason that right now pip install is fine is because you provide a wheel, so it's installing it from there. You can see that if you try to do `pip install icepyx-0.3.2.tar.gz` it will actually fail. Also, it doesn't seem like LICENSE file

[2021-02-04 17:39] lsetiawan commented on #170
Seems like everything is now included in the source distribution file, which makes it so bloated ... After being so confused as to the cause, I finally tracked down that it was because of `setuptools_scm`.

I didn't know by default this includes all the files being tracked by git. Seems like it's a known issue: https://github.com/pypa/setuptools_scm/issues/516. Also here's a text about its behavio

[2021-02-04 20:11] JessicaS11 commented on #170
I'm all about better practice and non-manual updating! Thanks for the explanation. It sounds like a `manifest.in` file is a step up from what they show in basic "make your code an installable Python package tutorials", so I never set one up.

If `setuptools_scm` doesn't automatically do a PyPI build, then why was one triggered in Travis? The relevant portion of the `.travis.yml` file is:
[code]
It

[2021-02-04 20:16] JessicaS11 commented on #170
Also, I started a ["conda" branch](https://github.com/icesat2py/icepyx/tree/conda) for these edits.

[2021-02-04 21:24] weiji14 commented on #170
Ok, so in MANIFEST.in, my understanding is that we should just include the [`icepyx/`](https://github.com/icesat2py/icepyx/tree/development/icepyx) folder, the `LICENSE` and the `requirements.txt` file? I.e. exclude the big jupyter notebooks in the `examples` and `doc` folders?

Cool, I can chime in and have a look. I'm a bit more familiar with using the [PyPI Publish Github Action](https://github

[2021-02-05 19:20] JessicaS11 commented on #169
Thanks for sharing this great resource, @asteiker! @alexdibella, maybe we can dive into this a little during an upcoming hack!

[2021-02-08 07:35] alexdibella commented on #169
Good idea @JessicaS11!! Won't be there today, but we can hack it out next week :)

[2021-02-16 11:02] weiji14 commented on #170
Hi @JessicaS11, just checking up on this, how are you doing with the "conda" branch?

[2021-02-16 18:50] lsetiawan commented on #170
#172 Should make the package slimmer. I got about 42kB now with the PR.

![Screenshot from 2021-02-16 10-49-20](https://user-images.githubusercontent.com/17802172/108107912-b9aad600-7044-11eb-97b6-d811c1b0dce1.png)

[2021-02-18 19:24] JessicaS11 commented on #170
I'm scratching my head a bit on this not being able to see the chicken versus egg today. The goal is to release a new version (0.3.3) of icepyx, which will (if all goes according to plan) trigger (independently): 1. a new build and release on PyPI; 2. a package build and availability through conda. We've added `setuptools_scm` to take care of the version numbering automatically, which is triggered

[2021-02-18 21:25] weiji14 commented on #170
Yeah there's a lot of pieces going together. The release pipeline should go as follows:

1. Merge the **development** branch into the **master** branch.
2. Draft and create a new release on https://github.com/icesat2py/icepyx/releases. By clicking on the green 'Publish Release' button, GitHub will automatically create a **tag** on the current commit (on the **master** branch in this case).

![imag

[2021-02-25 01:49] wallinb commented on #165
Indeed `client_string=icepyx` as a url parameter for EGI requests is correct (and `Client-Id` header for CMR).

I'm happy to relay metrics from NSIDC on EGI requests, CMR metrics are a bit harder as they are collected somewhere in NASA but I can look into it.

[2021-02-25 21:13] #165 closed

[2021-02-25 23:25] JessicaS11 commented on #170
Thanks for all this info!

I've done tags and releases both ways, and the triggering in Travis of PyPI builds hasn't always worked.

So `setuptools-scm` looks for tagged commits? If a commit is not tagged, nothing happens. If the commit gets tagged (which must be done manually either through GitHub or git), then `setuptools-scm` will publish the version and in so doing figures out the updated vers

[2021-02-28 07:16] liuzheng-arctic commented on #151
I bumped into this issue too. I chose a box of [-180, 60, 180, 90] to cover the Arctic region north of 60N. I think anyone who wants to use icepyx to download the full dataset will have the same issue as well. I am not sure the longitude values should be limited when the lower left and upper right corners have different signs.
For example, [-179,60,179,62] and [179,60,-179,62]. The first is a long

[2021-02-28 23:44] weiji14 commented on #170
Ok, I've opened up #174 which migrates the PyPI deployment from Travis CI to Github Actions. We can do a few test commits there to show how the package publishing workflow works (to TestPyPI). Will need help setting up the PyPI tokens first though since I haven't got permissions.

[2021-03-05 16:49] JessicaS11 commented on #170
Success! Thanks @weiji14 for getting the GH Action to PyPI and TestPyPI (#174)set up! The first run (triggered by the merge, but I checked and the button to run it manually is available too) was [successful](https://test.pypi.org/project/icepyx/0.3.2b1.dev6/).

I think that means we can go ahead with a new release to get everything on conda-forge, right? Does one of you want to submit the developm

[2021-03-08 10:39] weiji14 commented on #170
A bit of a chicken and egg problem, but do we want to update the install instructions at https://icepyx.readthedocs.io/en/development/getting_started/install.html to mention `conda install icepyx` before the v0.3.3 release or after the release (i.e. in v0.4.0)?

[2021-03-08 14:26] JessicaS11 commented on #170
It's funny you ask this because I almost updated the install instructions but then didn't for exactly the reason you noted. I think at this point we should do it after, once we've actually done a `conda install icepyx` ourselves. With the work Tian and others are putting through for visualization, it shouldn't be too long before v0.4.0.

[2021-03-09 15:09] JessicaS11 opened #177 "Geoviews as a dependency given install challenges"
_Originally posted by @weiji14 in https://github.com/icesat2py/icepyx/pull/176#discussion_r589778204_

Travis CI's role is to run the testing suite prior to merges. Since geoviews (and other potentially fussy-to-install geospatial packages) are not core requirements for software functionality/testing, perhaps the best approach is to add an environment.yml file that includes geoviews, but not inclu

[2021-03-09 16:33] lsetiawan commented on #170
Hey all, I've been MIA the past week, seems like you both made a lot of progress! Nice work! :smile:. Is the geoviews stuff included in v0.3.3? If not, maybe we should move forward with that release, so we can get icepyx into conda, that way we are able to test it out.

[2021-03-09 22:11] weiji14 commented on #177
Agree with having an `environment.yml` file, since [`conda`](https://docs.conda.io/en/latest/) is a common way to install both Python and non-Python dependencies nowadays.

One thing I'll add is that we can list down 'optional dependencies' in the `setup.py` file by adding an 'extra_requires' parameter. For example, [dask uses](https://github.com/dask/dask/blob/fb544144611b25a6f23d90637038a93f9315

[2021-03-10 15:21] JessicaS11 commented on #170
Yeah, let's publish a release. @lsetiawan, can you submit a development--> master PR? Then @weiji14 and I can review it and I'll publish the release and we can check up on the conda-forge recipe.

[2021-03-11 15:02] JessicaS11 commented on #170
I merged PR #179 and we've got a successful new release on PyPI. Our readthedocs builds are failing due to the switch to automatic versioning, and we now have the non-fast forward commit on master that's not on dev (I don't think there's an easy setting in GitHub to keep this from happening?).

[2021-03-11 15:21] JessicaS11 commented on #170
To elaborate on the read the docs failure. When it tries to `import icepyx` during environment setup, it errors:
[code]
Since `_icepyx_version.py` is created by setuptools_scm but not tracked by git, how do we get read the docs to create this file and get the version?

[2021-03-11 17:35] weiji14 commented on #170
Yikes, didn't see that one coming! I see readthedocs being mentioned at https://github.com/pypa/setuptools_scm#usage-from-sphinx, see if that helps? I'll take a look around some other projects who use readthedocs and setuptools_scm to see what their conf.py looks like.

[2021-03-11 17:47] JessicaS11 commented on #170
Unfortunately the setuptools_scm guidance you linked above is no help (I tried that first - see the rtd_fix branch). If you put that code in there before `import icepyx` it can't find the version because the package isn't imported. If you put it in after, you get the `ModuleNotFoundError`.

Can one of you remind me if there was a particular reason we opted to use `icepyx_version` instead of the mo

[2021-03-11 17:56] lsetiawan commented on #170
Attempting at #181

[2021-03-11 19:12] JessicaS11 commented on #170
Thanks @lsetiawan! Your fix is similar to the one of the ones I tried on rtd_fix, but has the same issue. `conf.py` contains `import icepyx` before looking for the version, and the failure is coming from the `__init__.py` file that contains `from _icepyx_version import version as __version__`. So it needs to be addressed before importing icepyx (which is chicken and egg with our solutions because

[2021-03-11 19:24] weiji14 commented on #170
I had a look at the `conf.py` file and I think we can remove the `import icepyx` line since it doesn't appear to be used in the script.

[2021-03-11 21:18] weiji14 commented on #170
Readthedocs has a Pull Request build as of Jan 2021 (see https://blog.readthedocs.com/pull-request-builder-general-availability/). Should we maybe give that a go @JessicaS11 while we debug the situation? Will need your admin permissions to set it up according to https://docs.readthedocs.io/en/stable/pull-requests.html#preview-documentation-from-pull-requests.

[2021-03-11 21:36] JessicaS11 commented on #170
Oh, fun! As admin I just do this manually, but it might be fun for new contributors to be able to see/test their docs updates without my setting them up. It looks like I just need to enable it from read the docs, so I will go ahead and do that.

From the looks of it, either #181 or #182 solve the docs building issue. Thoughts or preferences for which one we merge in?

[2021-03-11 21:40] weiji14 commented on #170
Let's go with the one that works (i.e. #182). If we merge that one in to the 'development' branch, we ought to see the revision number change on https://icepyx.readthedocs.io/en/development/index.html (which is currently stuck on 944673723dcf8c5ac498cc9c8ac416583d10e8b1, i.e. the commit before #168).

![image](https://user-images.githubusercontent.com/23487320/110858652-387ef000-831f-11eb-866d-a41

[2021-03-11 21:44] JessicaS11 commented on #170
Good idea. I'll take some blame for this one because I saw the docs building failures but didn't look at them too closely because I thought it was the same as the other intermediate issues we were having while we set up the automatic versioning.

[2021-03-11 21:50] weiji14 commented on #170
No no, I should be the one to blame since I suggested using `setuptools_scm` in the first place :laughing:. We all have to learn things the hard way sometimes, the problem is that things tend to break during releases for some reason (Murphy's Law).

[2021-03-11 22:03] lsetiawan commented on #170
Best way to learn is experimenting with it! haha `setuptools_scm` is growing on me I might start using that in the future.

This has been a really great effort! Thank you both for helping out! I learned a lot!

[2021-03-11 22:13] JessicaS11 commented on #170
Yes, it's been great to learn together! : )

[2021-03-11 22:34] JessicaS11 commented on #170
So did we successfully build a recipe on conda-forge?

[2021-03-11 22:34] weiji14 commented on #170
Docs at https://icepyx.readthedocs.io/en/development/ point to 7458296f581a2e0d11e1a442578a55aeec5d0e63 now, woohoo!

Looks like we might need a quick v0.3.4 release. How is everyone's schedule time-wise? I was thinking of pulling together a changelog for v0.3.3 too for https://icepyx.readthedocs.io/en/development/user_guide/changelog/index.html, but we could do it tomorrow instead.

[2021-03-11 22:42] JessicaS11 commented on #170
That sounds like a good plan. There should be a template in the changelog dir you linked to for creating the new one(s).

I have a couple other docs-related things I'd like to try and update quickly before 0.3.4, which I can hopefully get PRs in for tomorrow. You're right about me calling it a day for now!

[2021-03-12 17:03] lsetiawan commented on #170
When the conda-forge CI finishes, the recipe will live here: https://github.com/conda-forge/icepyx-feedstock

[2021-03-12 18:08] lsetiawan commented on #170
Time to try things out from conda-forge! https://anaconda.org/conda-forge/icepyx

[2021-03-12 19:31] JessicaS11 commented on #170
I created a new dummy environment and installed icepyx via conda! Yay!

Thanks for all your hard work making this happen, @lsetiawan and @weiji14. What a great start to the weekend (or middle of it, as the case may be). : )

[2021-03-12 19:31] #170 closed

[2021-03-12 19:38] JessicaS11 opened #185 "add conda info for v0.3.4 release"
We just officially made icepyx available via conda (see #170 and #179) and are planning to release v0.3.4 very soon to push through some kinks we had to work out after 0.3.3. Though there will be other things added in v0.3.4, I'd like to make sure that we get two conda-related additions made:

- [x] add some [conda badges](https://anaconda.org/conda-forge/icepyx/badges) to our home GitHub page
- [

[2021-03-14 02:35] weiji14 commented on #185
Ping @surfix who might be interested in helping out :wink:

[2021-03-14 02:55] Surfix commented on #185
Yes. Thanks @weiji14 . I am interested. I am just about to start exploring the use of IceSat-2 data for my PhD project and I will be glad to contribute to the package.

[2021-03-15 16:40] nmt28 opened #186 "Search Granule number and Downloads not matching?"
Hey,

When searching for data I often notice that the number of downloaded files does not match the number of granules found. For example, I found 78 ATL08 granules over Florida:

print avail granules =  {'Number of available granules': 73, 'Average size of granules (MB)': 15.707173399732875, 'Total size of all granules (MB)': 1146.6236581805001}

yet this only downloads 40 items. Is there somethi

[2021-03-16 19:40] JessicaS11 commented on #186
Hello @nmt28! Thanks for reaching out.

Could you please provide some more details, including the code you are running and on which version of icepyx, that results in this issue? Matthew Rocklin has some great pointers for creating minimal working examples (MWEs) [here](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports). One possible explanation is also outlined in [this Pangeo D

[2021-03-16 19:59] dshean commented on #186
Is this just an issue of tracks that intersect the user-provided box/polygon during initial query, but then don't get downloaded because there are no valid points in the granule over the box/polygon during subsetting?

[2021-03-16 20:13] nmt28 commented on #186
Hi @JessicaS11, thanks for the reply. Apologies, that's a pretty vague question I posted. My code is:

short_name = 'ATL08'
# Florida box
spatial_extent = [-81.513, 25.078, -80.885, 25.928]
date_range = ['2018-01-01','2021-03-31']
# Default is latest version
#version='003'
start_time='00:00:00'
end_time='23:59:59'

region_a = ipx.Query(short_name, spatial_extent, date_range, start_time, end_time)

[2021-03-17 17:46] JessicaS11 commented on #186
Thanks for the update, @nmt28! It sounds like you're all set, so I'm going to close this issue.

[2021-03-17 17:46] #186 closed

[2021-03-18 16:41] wenjieji86 commented on #159
Hi @facusapienza21 @JessicaS11 I got a very similar issue while trying to download ATL03 data. I used a rather complex shapefile in my request (>10,000 vertices) and got a JSONDecodeError. But when I used a simpler shapefile, the query went through without any issue. My suspect was also the complexity of the polygon I used but it seems that shapefile polygons are automatically simplified using sha

[2021-03-19 22:03] wenjieji86 opened #188 "reqparams page_num gets overwritten when placing order"
A bit of background: the total number of granules in my query result are usually >400 since I am interested in a fairly big geographic region. However, instead of ordering all of the 400+ granules, I would like to order and download 1 granule at a time so I can write/test my code. I tried to achieve this by setting both 'page_size' and 'page_num' to 1 in my query. But `order_granules` will still o

[2021-03-19 23:45] wenjieji86 commented on #169
Hi @JessicaS11 @asteiker this may be the wrong place to ask this question but I don't know where else to go so I will just go ahead and ask here...
The CMR API allows temporal search/subsetting, but it does so by combining date and time. This means subsetting via time only is impossible (e.g. I may be interested only in night-time data from July to December 2020)? Is there a way that I can do this

[2021-03-22 13:44] JessicaS11 commented on #188
Hello @wenjieji86! Thanks for posting the problem you're having.

I would recommend limiting your query object parameters to return only the number of granules you'd like (for instance, your example only returns three granules). In an upcoming release (the pull request #148 is awaiting review and a few other changes being pushed through development), you'll be able to just download one granule by

[2021-03-22 21:30] wenjieji86 commented on #188
Hi @JessicaS11 , thank you for your reply. But I don't agree with your comment that:

According to CMR API documentation:

So setting a specific page_num and page_size should give me control over which 'subset' of the available granules I want to order/download.

That being said, I think making this change would require some work because the way the current algorithm works is it will order everyth

[2021-03-23 18:00] JessicaS11 commented on #188
Thanks for clarifying, @wenjieji86. That makes sense; I was unaware that the CMR API *does* enable this usage.

I suspect you're correct that this would be a non-trivial change to make in how icepyx handles ordering. One of our outstanding issues (#169) is to look at the new python CMR library to see if we should adopt that under the hood for interfacing with the CMR API. If that ends up happening

[2021-03-23 21:19] wenjieji86 commented on #188
Hi @JessicaS11 thanks for your reply and I would love to contribute anyways I can. But since I am still learning to use GitHub (e.e. pulling and fork etc.), some instructions on how to contribute to the code repository would be help!

At the mean time, I will post my workaround for this issue here in case other people are interested:

My understanding of how CMR works with `page_num` and `page_siz

[2021-03-29 16:00] kelseybisson commented on #185
We added PyPi and Conda badges to the Github home page and are going to update the home docs page next Monday as a subgroup (lead2phyto).

[2021-03-29 21:07] JessicaS11 commented on #131
I just wanted to leave an update here for posterity: I just reduced the required reviews for merging into master (now main) from development from two reviews to one review, with maintainer status required to merge. I'm hoping this will reduce the review burden somewhat, while continuing to allow project teams the ability to work on development, review their sub-teams' PRs, and not have fear that t

[2021-03-29 21:08] #83 closed

[2021-03-30 00:47] weiji14 commented on #185
FYI, `icepyx` v0.3.4 is now published on PyPI at https://pypi.org/project/icepyx/0.3.4/, and at conda at https://anaconda.org/conda-forge/icepyx (after merging https://github.com/conda-forge/icepyx-feedstock/pull/1)!

[2021-03-30 11:47] weiji14 commented on #131
Sounds good, and thanks again for the Zoom conversation clarifying the need for a separate development branch, I think it's good to make people feel confident that they can try things out without breaking stuff!

P.S. I did a quick PR to rename master to main across the docs at #194

[2021-04-05 12:04] #177 closed

[2021-04-08 16:28] JessicaS11 commented on #166
Hello @dpyles97 and @icetianli. I just merged #148 into development, which allows searches by orbital parameters. I haven't tried these updates with your specific use cases, but I wanted to reopen the conversation to let you know this functionality was available and reopen the conversation if we'd like to think about implementing a way to query/order data as you'd like.

[2021-04-08 16:55] icetianli commented on #166
This is awesome! Thanks @JessicaS11, will check this out! Now we can also add orbital parameters into the `Visualization` object as well.

[2021-04-08 18:01] JessicaS11 commented on #79
While debugging another user issue (which resulted from no subset data messages no longer being surfaced as an error), I added on to this branch to re-catch the no subset data orders and let the user know they can't be downloaded (in case they miss the order message). @facusapienza21 @fperez @nicholas-kotlinski @wallinb - if you have a few minutes to review #195 it would be greatly appreciated!

[2021-04-09 01:28] weiji14 commented on #110
A few projects in the PyData ecosystem have been moving towards using the [PyData Sphinx Theme](https://pydata-sphinx-theme.readthedocs.io/en/v0.5.2). E.g. [geopandas](https://geopandas.org/index.html) (https://github.com/geopandas/geopandas/pull/1564) and [xarray](https://xarray.pydata.org/en/latest/) (https://github.com/pydata/xarray/pull/4835). The 'front page' seems fairly customizable, and it

[2021-04-09 03:00] weiji14 commented on #50
Is this issue still valid? I visited the page on GitHub at https://github.com/icesat2py/icepyx/blob/development/examples/examples.rst and on ReadTheDocs at https://icepyx.readthedocs.io/en/development/getting_started/example_link.html. Clicking on both links takes me to correct Jupyter Notebook example at https://github.com/icesat2py/icepyx/blob/main/examples/ICESat-2_DAAC_DataAccess_Example.ipynb

[2021-04-12 02:45] dpyles97 commented on #166
Good to know @JessicaS11. This is great! Thanks for working on this.

[2021-04-13 19:21] JessicaS11 commented on #166
@icetianli @dpyles97 I was looking for an example where I got a feed error to test a new error message. The bad news is I can't test the error message. The good news is that I was able to run all of the problem examples you provided with expected results, so I'm closing this issue. : )

[2021-04-13 19:21] #166 closed

[2021-04-19 16:02] wenjieji86 commented on #185
Hello everyone, I just started to use Anaconda (thanks @JessicaS11 for the recommendation) for my icesat-python projects. So I installed icepyx to my icesat environment which I believe is the 0.3.4 version. However, I got an error message when trying to import the package, anyone had the same issue and how to resolve it? Thanks!

![Capture](https://user-images.githubusercontent.com/41796259/115267

[2021-04-20 15:55] JessicaS11 commented on #185
@wenjieji86 Thanks for sharing your issue and the solution you found!

We've now merged the PR that adds conda install info to our documentation. Thanks @kelseybisson @rtilling @RomiP @weiji14 for your contributions. @wenjieji86 @Surfix we look forward to hearing from you on other issues/PRs!

[2021-04-20 15:55] #185 closed

[2021-04-28 17:04] #79 closed

[2021-05-17 14:31] JessicaS11 commented on #104
To update this issue: I've made the changes relating to `source` and `_source`, as well as improved the `files` variable name (I'll note that for the most part, these primarily referred to portions of code that are not-yet-implemented or are used internally to track information, but are not visible to the user).

After some conversation with @nicholas-kotlinski at NSIDC, I've put out a request to

[2021-05-20 00:59] jfprieur commented on #159
I am getting the same syntax error with a shapefile polygon (1838 vertices) trying to download ATL08 data. Willing to help test out to fix if needed.

![nfld](https://user-images.githubusercontent.com/1093955/118903006-c6a9c080-b8e4-11eb-9e5e-d2a851a104cb.PNG)

![error](https://user-images.githubusercontent.com/1093955/118903127-0a042f00-b8e5-11eb-8bb1-e327457cccef.PNG)

[2021-05-21 14:57] JessicaS11 commented on #159
@wenjieji86 @jfprieur Thanks for sharing your code and issues here! I will reach out to NSIDC and see if I can get a more definitive answer about what, if any, limitations are imposed on the number of vertices submitted via a shapefile to the subsetter. In the meantime, could you please make sure you're running the most recent (v0.4.0) version of icepyx (now available via conda)? One of the new fe

[2021-05-21 15:20] jfprieur commented on #159
I am running 0.4, I was running through Spyder which suppressed some messages, here is the output from command prompt

![Capture](https://user-images.githubusercontent.com/1093955/119160687-83f00180-ba26-11eb-8b41-4b02ce8e0fda.PNG)

[2021-05-24 15:55] kelseybisson opened #205 "Superclass/subclass type for query object"
We’re looking for feedback before making a change to the underlying icepyx architecture.

Following discussions from the Lead2Phytoplankton group, we are working to incorporate Argo and other observations access into icepyx. The big idea is to have a general structure so that new datasets can be implemented relatively simply, with perhaps different spatiotemporal windows of interest, and altogethe

[2021-06-10 08:36] whyjz opened #207 "Querying granules by names only?"
Hi Icepyx devs! Does `icepyx.Query` work if only the granule name is provided? I tried this

[code]

and it complained that I didn't enter a valid spatial extent. But I didn't know the spatial extent (unless I check it up on Earthdata Search) because I was following somebody else's work with the only file name specified.

Thanks in advance!

[2021-06-10 16:40] JessicaS11 commented on #207
Hello @whyjz! If you take a look at the code, the `files` parameter in the initialization of the `query` object is actually a legacy placeholder in work towards reading in local files that's not implemented (hence why it's not included in the docstring or examples) that should probably be removed (would you like to submit a PR to do this?). Since filenames are easy to change, it's not a reliable w

[2021-06-18 16:05] JessicaS11 commented on #169
@wenjieji86 Apologies that this comment slipped under the radar. Unfortunately, I suspect the best approach is going to be to loop through a set of dates and place an order (and download) for each one. Then the temporal subsetting you're after will be accomplished. I'm not sure there's another way you could go about this, but my understanding of CMR is limited so I could be totally off base. Some

[2021-06-21 09:07] Sharanb02 opened #210 "cannot import name 'icesat2data' from 'icepyx'"
![Screenshot 2021-06-21 143519](https://user-images.githubusercontent.com/82048981/122736707-ef372880-d29d-11eb-89b7-d77fe6a829a7.png)

Unable to import icesat2data. importing as "from icepyx.core import icesat2data" works, but all the function calls from that class show error.

[2021-06-21 11:45] weiji14 commented on #210
Hi @Sharanb02, could you try using `import icepyx as ipx` instead? The `from icepyx import icesat2data` method is used in older icepyx versions (< v0.3). You may want to make sure that you have the latest icepyx version (v0.4.0) installed using `conda install -c conda-forge icepyx==0.4.0`.

[2021-06-21 12:03] Sharanb02 commented on #210
Thank you, @weiji14.  It works now. I noticed just now that they have shifted all the functions under icesat2data class to query.
 So after importing the function as mentioned by the function call should be `ipd.Query(...)`  not `ipd.Icesat2Data(...)`

[2021-06-21 12:03] #210 closed

[2021-06-21 21:01] JessicaS11 commented on #207
@whyjz Can you confirm that you were able to find specific files as suggested?

[2021-06-25 10:09] whyjz commented on #27
Hi! The Jupyter meets the Earth team and I wrote an example research workflow for the 2021 EarthCube meeting. The purpose of this is to show how to use various Jupyter tools for a research project. We [used ICESat-2 data and icepyx in the workflow](https://workflow.jupytearth.org/icesat2-crevasses/getdata.html), and maybe this can be a good resource to consider for making the icepyx example galler

[2021-06-25 10:10] whyjz commented on #207
Hi @JessicaS11, sorry about the delay from my side (was in quarantine in Taiwan during the past 2 weeks). I actually ended up querying the desired file using a similar way that you posted (see #27 and [here](https://workflow.jupytearth.org/icesat2-crevasses/getdata.html)). And it is understandable why querying using names only is not recommended. Yes, I am happy to do a quick PR to remove the old

[2021-06-25 14:55] JessicaS11 commented on #27
We'd love to have this added to the example gallery! @salvis2 did some incredible work to get us set up on Pangeo-gallery, but if I recall there were still a few errors we hadn't yet sorted out to actually get things to render without errors. I'm in the depths of a few other dev items right now, but I will bump this back up the priority list for once I have a few of those getting wrapped up. If yo

[2021-06-25 15:08] JessicaS11 commented on #207
No worries, @whyjz! I just happened to have some time to follow up then. Glad you're out of quarantine!

We've had a few issues in the past (e.g. #111, #117) with global coordinates or those crossing the dateline. The format of the bounding box and the assertion itself should be okay, but I don't know that anyone has done extensive testing on it... I wasn't looking at the code and hadn't tried run

[2021-06-29 12:33] whyjz commented on #207
Switching the sign of the longitudes seems to do the trick. As #117 is probably a better place to track this issue, I will close this issue for now. Thanks for the help these days!

[2021-06-29 12:33] #207 closed

[2021-07-06 05:31] Sharanb02 opened #214 "Installation issue"
`(base)>>conda install icepyx`

`Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.`

After this it just says the package is not available. I think it might be issues with dependencies but I don't kno

[2021-07-06 06:49] weiji14 commented on #214
Hmm, that's weird. Did you try installing icepyx into a separate conda virtual environment using `conda create --name icepyx-env --channel conda-forge icepyx` as recommended in https://icepyx.readthedocs.io/en/latest/getting_started/install.html? If that still doesn't work, add a `-vv` to the command and post the full verbose output so we can inspect if there's an issue due to a dependency conflic

[2021-07-06 08:01] Sharanb02 commented on #214
@weiji14  yep, I tried the git clone method of installation, that worked. but now I'm having a new problem.  I get the following error when I import the module.

FileNotFoundError: Could not find module 'C:\Users\shara\anaconda3\lib\site-packages\scipy\.libs\libbanded5x.X7D476RWJKO3TRH4FXIEB4YEAKNOYBT4.gfortran-win_amd64.dll' (or one of its dependencies). Try using the full path with constructor s

[2021-07-06 09:12] Sharanb02 commented on #214
it worked!

it worked! I ran the `conda update scipy` command and it worked now

[2021-07-06 09:12] #214 closed

[2021-07-06 09:27] Sharanb02 opened #215 "region.order_granules()"
region.order_granules() is returning the following error:
[code]

[2021-07-06 12:08] weiji14 commented on #215
Hi @Sharanb02, could you provide the code you used to set up the `region` icepyx.Query object? That would help us to understand the situation better :)

[2021-07-06 12:58] Sharanb02 commented on #215
@weiji14 , I'm trying to create a toolbox to access and visualize the ICE Sat-2 data over himalayas. so, I was just trying to print land ice heights over some region, the data for which will downloaded by this function

`def get_data(bbox,date_range,path) :

    #creating the icepyx object

    region = ipd.Query('ATL06',bbox,date_range)
    print(region.avail_granules())

    #logging into earthd

[2021-07-06 16:34] Sharanb02 commented on #215
@weiji14, I feel that the reason for parse error might be due to the large size data request. Is there any way I can get around it?

[2021-07-06 18:37] JessicaS11 commented on #215
Hello @Sharanb02 - thanks for providing some of the code you're using. I tried running what you provided to try and reproduce the error, but you haven't included your `bbox` and `date_range` definitions. These would be helpful to dig into what might be causing the error (including large requests).

[2021-07-06 18:43] JessicaS11 commented on #169
@alexdibella In follow up to your question today, see the second part of the [most recent post](https://github.com/icesat2py/icepyx/issues/169#issuecomment-864139546). So if you are able to access Sentinel data through CMR and want to make the transition, go ahead, but it's not yet a planned dev step for icepyx.

[2021-07-07 06:50] Sharanb02 commented on #215
@JessicaS11 , Please check this jupiter notebook. it contains the code. [package/function.ipynb](url)

[2021-07-07 10:03] Sharanb02 commented on #215
I tried  a different region in the Himalayas for the same code this is what I got:

[code]

[2021-07-07 10:37] Sharanb02 commented on #215
@JessicaS11 , I tried using region.reqparams dictionary and reducing the number of granules per order. And happily it solves the parse error problem. but the newly mentioned error exists.

[2021-07-07 14:03] JessicaS11 commented on #215
@Sharanb02 Excellent! I'm glad you were able to figure that out. Thanks for providing the links to your code and repo. Since you know your code best, the easiest and fastest way for me to help you is if you can provide a [minimal working example ](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)(MWE) that replicates the error. If you could provide the specific inputs you are pr

[2021-07-07 16:10] Sharanb02 commented on #215
@JessicaS11, I actually tried to uninstall and reinstall icepyx. I got an error saying .
```python Could not find module 'D:\anaconda3\lib\site-packages\scipy\.libs\libbanded5x.EHDKC2XVYTQQ5MALRS6XN2CUSS6SRL6P.gfortran-win_amd64.dll' (or one of its dependencies). Try using the full path with constructor syntax.```
It solved out after downgrading to tornado=6.0.4, and scikit-learn=0.23.2 and scypi=

[2021-07-07 16:11] #215 closed

[2021-07-07 17:43] JessicaS11 commented on #215
Thanks for keeping us updated, @Sharanb02, and I'm glad you were able to sort things out!

[2021-07-07 19:13] #104 closed

[2021-07-28 18:08] jfprieur opened #217 "Connection issues using Earth Data login"
Hello, I am getting this error after submitting my logon credentials via the console and trying to download ATL08 data.

According to the comments in earthdata.py, the .netrc file should only be looked up if manual credentials are not provided (they were provided in this case).

This is using miniconda (Python 3.8.6) on Windows 10

[code]

If I supply a .netrc file, it ignored it and still asks me

[2021-07-28 18:26] #217 closed

[2021-07-28 18:27] jfprieur commented on #217
Should always check the status alerts, LP DAAC and HTTP downloads unavailable today

[2021-07-28 18:46] JessicaS11 commented on #217
Good catch and glad you figured it out - let us know if you keep having issues once the site is back up an running!

[2021-08-29 23:00] jameshgrn opened #219 "OpenAltimetry and IcePyx (NSDIC) API do not align"
Hi all,

I'm dealing with an issue where I query for ATL08 products. As an example let's look at a river in South America described by the geojson: {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -74.00390625,
              -5.09094

[2021-08-29 23:51] jameshgrn commented on #219
I checked just to make sure my geojson to bounding box code worked correctly. You require lower left lon, lower left lat, upper right lon, upper right lat, but I still am receiving a no data error code

[2021-08-30 15:03] JessicaS11 commented on #219
Thanks for getting in touch @jameshgrn!

Could you please provide the exact code you are running and which line is running into the error? I put the bounding box and date coordinates you provided into an icepyx query object and was able to successfully download a subset granule without getting a no data error code, so I'm wondering where the error is originating from.

Also, it doesn't seem to be

[2021-08-30 15:46] JessicaS11 commented on #219
I tried to visualize your region using icepyx's `Visualization` module, which calls OA under the hood, and I started running into a no data error. My current guess at what's happening is that your region is big enough to set off the parallel processing for getting the visualization data from OA (circa line 190 of vizualization.py, `split_flag = ((lonmax - lonmin) > 5) or ((latmax - latmin) > 5)`),

[2021-08-30 17:32] jameshgrn commented on #219
Hey all! Sure, I'd be into helping out! That sounds like exactly what is going on (without knowing the backend too well), but it reflects my experience with the bug. I'll look into this this week, and yes, it would be good to have a helping hand on the github etiquette!

[2021-08-30 19:15] icetianli commented on #219
Hi @jameshgrn, thanks for reporting the problem! Yes the issue was raised from the 5* 5-degree bounding box split in OpenAltimetry visualization as mentioned by @JessicaS11, one sub_bbox has no available data returned from `icepyx.query `and causes the error when you use `visualize_elevation` to visualize the data with OpenAltimetry. I just created a pull request https://github.com/icesat2py/icepy

[2021-08-30 19:29] JessicaS11 commented on #219
Would you like to review the Pull Request (#220) @icetianli put together? I will add you to the icesat2py GitHub organization that houses icepyx so you have the correct permissions. Since you've found a good corner case, we could also potentially add it as a test for the visualization module (which again, I'd be happy to walk through with you).

[2021-08-30 21:56] jameshgrn commented on #219
@JessicaS11 and @icetianli , sure thing. I'll look over the PR and start working on a branch, cheers

[2021-08-30 22:18] jameshgrn commented on #219
@JessicaS11 sorry, do yall want me just to check it to see if it works? not sure the of the review process, ill do some github refreshers on google as well

[2021-08-31 16:15] JessicaS11 commented on #219
@jameshgrn Essentially, yes. [GitHub Docs](https://docs.github.com/en/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/about-pull-request-reviews) has some great info on PR reviews, including lots of images that show how to do various review tasks. I'd also be happy to walk you through the process or pair you with someone who can.

In short, the review process makes sure

[2021-09-01 17:59] JessicaS11 commented on #219
Excellent - thanks @jameshgrn. Would you like to go ahead and officially approve the PR? Then you are welcome to do the squash and merge step as well (let me know if you need any guidance).

[2021-09-01 18:00] jameshgrn commented on #219
Just did it! Thanks a bunch for the help + assisstance!

[2021-09-01 18:01] JessicaS11 commented on #219
Haha - our wires crossed. Thank you for your contribution and sharing the issue to begin with!

[2021-09-18 22:55] jameshgrn commented on #219
Hey all,

While the visualization issues are fixed, I am still running into an "AssertionError: Your search returned no results; try different search parameters" stemming from granules.py on line 219. I assume this is the same problem as before, but there isn't an easy way (with my icepyx knowledge) to do a similar try/Except loop to catch the errors. Worst case scenario I can get the data from NS

[2021-09-21 06:22] xinluo2018 opened #224 "region_a.visualize_spatial_extent() problem"
Sometimes the spatial extent can't be visualized with .visualize_spatial_extent() function in the latest version. I never encounter this problem in the previous icepyx version

[2021-09-21 15:47] JessicaS11 commented on #219
Hello @jameshgrn - thanks for letting us know and reopening the issue. Could you post the code (ideally in a copy/paste-able format) you're running so that I can try to recreate the problem? Also, seeing the full error traceback (a screen shot of that is fine) is helpful for troubleshooting, since the line numbers often vary with the version. This helps us get to the bottom of issues much faster.

[2021-09-22 09:17] xinluo2018 commented on #224
I have updated the icepyx to the latest version by 'conda update icepyx'. I have to put the .visualize_spatial_extent() code at the last line of the notebook cell, then the visualization could be executed successfully.  so this problem seems to be solved. Thanks.

[2021-09-22 13:46] JessicaS11 commented on #224
Excellent - I'm glad to hear that you were able to get it working.

[2021-09-22 13:46] #224 closed

[2021-10-09 03:47] Nauman95 opened #232 "problem in importing icesat2data"
hello folks, I am trying to use icepyx the first time. I have installed the package. When I am importing the icesat2data it is showing the following error.
![Screenshot 2021-10-09 114650](https://user-images.githubusercontent.com/63490080/136643204-b3ce0bb3-7481-4a19-b8b8-c79ddec99772.png)
 Please help me out with this. Thanks.

[2021-10-12 18:15] JessicaS11 commented on #232
Excellent - I'm glad you got things working!

[2021-10-15 15:03] JessicaS11 opened #235 "switch Earthdata login token from Echo to Bearer"
NASA supports 2 token types:

* [Echo-tokens](https://wiki.earthdata.nasa.gov/display/echo/Creating+a+Token): These are being deprecated, you can pass them as a simple parameter in your query to CMR, they are valid for 3 months after being issued.
* [Bearer tokens](https://wiki.earthdata.nasa.gov/display/EL/How+to+Generate+a+User+Token): They are passed in the authorization header and are technica

[2021-10-15 15:10] JessicaS11 opened #236 "use authenticated CMR search to get s3 urls"
Hi @JessicaS11 ATL datasets in AWS are not public collections for the moment, in order to search for them on CMR you need to be using a [CMR token](https://wiki.earthdata.nasa.gov/display/EL/How+to+Generate+a+User+Token) in the request header `Authorization: Bearer TOKEN` and your Earthdata user needs to be on the NSIDC early adopters ACL list.

_Originally posted by @betolink in https://github.co

[2021-10-30 16:44] jameshgrn commented on #219
Hey @JessicaS11, sorry for the delay! PhD classes have a way of piling up, ha. Okay here is a much more informative set of data:

Here is the geosjon area for reference (the same one as I posed on Sept. 18th in this issue):
![image](https://user-images.githubusercontent.com/43428069/139541672-77f31d09-d637-416d-ac8b-79ab634d9404.png)

Here is the line in question that I am trying to download with

[2021-11-02 18:45] trey-stafford opened #237 "Default order page size is too small"
NSIDC has been inundated with emails resulting from orders made by `icepyx`. We believe part of the problem is the small page size of 10. NSIDC recommends a default page size of 2000 (the maximum), which will alleviate some of the burden from users making orders with many thousands of granules.

Note: I will be submitting a pull request to adjust this default shortly!

[2021-11-02 18:56] trey-stafford opened #238 "Passing the 'email' parameter to order requests should default to False."
Since the `email` parameter is optional when making orders, a flag should be added to `query.order_granules` that allows the user to opt into email notifications (the flag should be `False` by default). For users who still wish to receive email updates, the flag can be set to `True`.

NSIDC has been inundated with emails resulting from orders made by icepyx. We believe part of the problem is the s

[2021-11-02 19:34] trey-stafford commented on #237
PR: https://github.com/icesat2py/icepyx/pull/239

[2021-11-02 19:42] trey-stafford commented on #238
Ah, I actually see that `query.order_granules` has this flag already, but it defaults to `True`. I believe that should be changed to `False`. Updating this issue's title to reflect this finding.

[2021-11-02 19:51] trey-stafford commented on #238
PR: https://github.com/icesat2py/icepyx/pull/240

[2021-11-08 14:00] simonrp84 opened #242 "Can't open DAAC_DataAccess_Example notebook"
Hello,
I've just discovered icepyx and it looks like a really useful collection of tools! Am trying to familiarise myself with it, but have come across an error. when I try to open the `icepyx\examples\ICESat-2_DAAC_DataAccess_Example.ipynb` file I get:
`AttributeError('metadata')`.
Have re-downloaded the git repo several times and the error persists, I also can't load the notebook directly throug

[2021-11-08 16:19] JessicaS11 commented on #242
Hello @simonrp84! Thanks for sharing this issue. Can you provide a few more details on how you're trying to open the notebook? I often get this error myself (it has to do with the saving of the Jupyter Notebook across versions and platforms), but I just checked and am not having the issue with the `ICESat-2_DAAC_DataAccess_Example.ipynb` file in the current development or main branches.

Notebooks

[2021-11-08 22:06] simonrp84 commented on #242
Thanks for the reply @JessicaS11, my workflow is as follows - tested on both windows and linux machines, using recent versions of all libraries from `conda-forge`:
[code]
Then, once jupyter starts, I navigate to `icepyx/examples` and double click the `ICESat-2_DAAC_DataAccess_Example.ipynb` notebook. A new browser tab opens, but rather than displaying the notebook I instead get the error message l

[2021-11-09 17:27] #238 closed

[2021-11-09 17:29] JessicaS11 opened #243 "add page size checks for sync/async request mode"
There's still a reference to using a smaller page size in `examples/examples/ICESat-2_DAAC_DataAccess_Example.ipynb` because it refers to synchronous requests. Note that this notebook indicates that synchronous requests are done by default, but I think this must be outdated. It looks like the request mode is `async` by default (https://github.com/icesat2py/icepyx/blob/development/icepyx/core/APIfo

[2021-11-09 17:30] JessicaS11 commented on #243
Or is an uncaught typo... I don't think `sync` was ever the default! Thanks for catching this.

[2021-11-09 17:56] JessicaS11 commented on #242
Thanks for all this info, @simonrp84!

Apparently, #213 re-introduced a bad cell (with incomplete import statements; it shows up around lines 36-37) that I can't seem to keep out of the code no matter how many times I remove it. I've updated the development branch so that it should work again... for whatever reason Jupyter Notebook gives this error, but opening the notebook in VS or as a text file

[2021-11-09 18:59] #237 closed

[2021-11-11 14:54] simonrp84 commented on #242
Great! I just gave it a quick test @JessicaS11 and the notebook loads in both branches now. Thanks for the quick fix! I'll close this issue.

[2021-11-11 14:54] #242 closed

[2021-11-23 22:14] #106 closed

[2021-12-03 18:37] JessicaS11 opened #247 "automate python package index updates"
Currently, the Python Package Index updates are coded in a Jupyter Notebook and must be run manually. It would be great to:
- [ ] Turn this code into a standalone python script
- [ ] create a GitHub action that runs it as a cron job every few months and adds the changes to the traffic branch

[2021-12-04 01:18] fxxkccplz opened #248 "AttributeError: module 'icepyx' has no attribute 'Read'"
Reading this notebook 'examples/ICESat-2_Data_Read-in_Example.ipynb', but an error that module 'icepyx' has no attribute 'Read' occurred . I have also read the official document, no attribute 'Read' exists, and using 'h5py' to read .h5 file is recommanded.Does it means this notebook need to update?
PS:Some of the docs from official website such as [ICESat-2_DAAC_DataAccess_working](https://icepyx.

[2021-12-04 04:02] weiji14 commented on #248
Hi @fxxkccplz, the 'Read' module is a new feature which has not been released yet, but is available on the icepyx development branch. We will be making a release soon (see #246), but in the meantime, you can try doing `pip install git+https://github.com/icesat2py/icepyx.git@development` (following https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch/20101940#20101940) to g

[2021-12-05 12:57] fxxkccplz commented on #248
Thank you, I see. Just cloned this repository and installed by pip manually, and it did work.

[2021-12-05 12:57] #248 closed

[2021-12-13 17:24] #205 closed

[2021-12-14 22:40] JessicaS11 opened #257 "streamline example notebooks"
Working on #196, it's clear that we need to do some streamlining of our examples. Some ideas for improvement:
- [ ] standardize heading levels (to render the notebooks on the docs page, several intermediate headers were downgraded, potentially removing some internal structure)
- [ ] example notebook file names are long and similar - consider simplifying and clarifying
- [ ] many of the notebooks a

[2022-01-10 14:42] JessicaS11 commented on #219
@jameshgrn Apologies for this languishing so long after it was reopened. Before I dive in deeper, I wanted to confirm it's still an open issue for you.

[2022-01-10 17:52] tsutterley commented on #219
Hey @jameshgrn and @JessicaS11,
Broadening the coordinates is the best recommendation I have.  I don't have a recommended "minimum area" for any polygon query as I think it depends on the latitude (but we might be able to come up with one).  Within sliderule we were talking about buffering out small CMR queries and then subsetting to the more restrictive bounding box within the sliderule client.

[2022-01-10 18:42] jameshgrn commented on #219
@JessicaS11 and @tsutterley

Tyler, good to see ya! I got around this issue by broadening my search extent and subsetting locally as well. On my own investigation I noticed the disconnect between OA and NSIDC data. As far as solutions, maybe a more descriptive error message could suffice? I can look into it later this week.

[2022-01-10 20:42] JessicaS11 commented on #219
Thanks @tsutterley for the update. I'm glad you found a good workaround @jameshgrn. I agree that a more descriptive error could be helpful, particularly if we can come up with a "minimum area" as Tyler suggests (otherwise it will be confusing in cases where there actually aren't any granules). We could also try an automatic buffer for small areas. Please let me know if I can do anything to support

[2022-01-18 19:53] #110 closed

[2022-01-24 22:26] JessicaS11 opened #264 "recreate DEM comparison notebook"
The IS2_DEM_comparison_WIP.ipynb notebook is still in the repo, but is not shown on the docs page because it is too outdated. icepyx now has some of the functionalities (e.g. data read in) that previously relied on other 2019 hackweek libraries, and the DEM used in the comparison cannot be shared publicly (though it is freely available to download). We need to migrate this example to a more easily

[2022-01-25 05:01] learn2phoenix commented on #247
I will be happy to take this up. Can someone point me to the concerned Jupyter notebook?

[2022-01-25 15:54] JessicaS11 commented on #247
Thanks, @learn2phoenix, and welcome to the icepyx community!

The notebook (and files that store the tracking data) are in [https://github.com/icesat2py/icepyx/tree/development/doc/source/tracking/pypistats](https://github.com/icesat2py/icepyx/tree/development/doc/source/tracking/pypistats). In the `tracking` directory a level up you'll also find a directory for the analogous "traffic" behavior.

[2022-01-25 16:33] JessicaS11 opened #266 "comparing IS2 with other datasets"
They phytoplankton team is hard at work implementing a colocated data module that relies on icepyx infrastructure and creates a templated structure for obtaining (and ultimately creating figures with) data from multiple sources. Initial efforts focus on Argo and Sentinel, but the infrastructure will make it easy to add additional datasets using a template. Before the March 2022 IS2 Hackweek, we ho

[2022-01-25 22:36] kelseybisson commented on #266
Looks great to me!! In terms of priority, I'd add argo plot functionality near the bottom and the general template & documentation closer to the top. In your mind, what's the difference between point 3 (add docs for colocated data dir) and point 6 (add docs place to explain colocated data module)?

Can't wait to get to work :)

[2022-01-26 16:48] JessicaS11 commented on #266
Thanks @kelseybisson! I reordered and tried to clarify - to get the docstrings to show up in the docs, we have to (besides having docstrings) add them to some of the docs building "instructions" so sphinx will look for them. I figured then we would also have a more "lay" docs page that tells people about the module and how to use it (so this might end up just being part of the how-to add a new dat

[2022-01-26 17:49] zachghiaccio commented on #266
Looks pretty good to me! I think it would be especially great to get through at least Point 4 by the IS-2 hackweek. It would give some really nice functionality for the hackers to work with. Even if we don't manage to make a "how-to" for it, we could whip up something brief for the Icepyx tutorial (I don't know how long that is set to be, but could still be useful!).

[2022-01-26 20:24] learn2phoenix commented on #247
Thanks @JessicaS11 I am on this.

[2022-01-28 20:09] JessicaS11 commented on #112
Looks like we did this in #187.

[2022-01-28 20:09] #112 closed

[2022-01-28 20:13] JessicaS11 commented on #39
Closing this issue now that icepyx is available for installation with conda: `conda install -c conda-forge icepyx`

[2022-01-28 20:13] #39 closed

[2022-01-31 07:22] learn2phoenix commented on #247
@JessicaS11 I have the changes ready in https://github.com/learn2phoenix/icepyx/blob/247-fix/doc/source/tracking/pypistats/get_pypi_stats.py and https://github.com/learn2phoenix/icepyx/blob/247-fix/.github/workflows/get_pypi_stats.yml . Do they look ok? ALso, how can I test this action?

[2022-01-31 15:50] JessicaS11 commented on #247
Excellent! Thanks @learn2phoenix. Without having done a detailed review, I think the only change I'd suggest is that we change the action to only run once a month (the traffic data is only stored by GitHub for two weeks, so we need to run it more frequently; PyPI stores the data for 3 or 6 months), and at a different time than the traffic action so that there aren't conflicts trying to commit chan

[2022-01-31 15:59] JessicaS11 opened #269 "reinstate ATL10 and ATL12 OA tests"
#268 removes a few tests that were failing CI due to the products not being available currently from OA. This issue is to mark that the tests should be reinstated (or removed entirely) once OA makes these products available again.

[2022-01-31 20:37] JessicaS11 commented on #50
It's unclear. For the case you cite, there's no longer an issue (as you say).

What I may have meant (but did not articulate well) is that links using the `:ref:` rst directive do not render within GitHub. For instance, if you look at [`doc/source/index.rst`](https://github.com/icesat2py/icepyx/blob/development/doc/source/index.rst#id1) you'll see that the Quick Links at the top of the page don't

[2022-01-31 20:37] #50 closed

[2022-01-31 20:42] #82 closed

[2022-02-02 14:55] learn2phoenix commented on #247
@JessicaS11 While testing the script on my local I am always hitting `httpx.HTTPStatusError: Client error '429 TOO MANY REQUESTS' for url 'https://pypistats.org/api/packages/icepyx/overall`. Is there a workaround for this?
If testing this is not suggested, I can raise the PR right away

[2022-02-02 21:51] JessicaS11 commented on #22
@wallinb left NSIDC in 2021 and this issue has languished. I picked up the open PR recently and in the process of updating it learned that the [current recommended approach](https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#search-after) is to use the `CMR-Search-After` header rather than `scrolling` (which was preferred over `paging`). Thus, #87 has been updated to the latest and gr

[2022-02-02 22:04] JessicaS11 opened #270 "adopt the earthdata library for authentication"
@betolink has been hard at work building an [Earthdata authentication library](https://github.com/nsidc/earthdata). This has the potential to greatly simplify (and centralize) Earthdata login issues that aren't unique to icepyx and ICESat-2 data. It would allow us to address #235 upstream as well.

[2022-02-02 22:16] JessicaS11 commented on #247
@learn2phoenix apparently this is an [open issue](https://github.com/crflynn/pypistats.org/issues/42) on pypistats, which seems to be unresolved. I actually got the error just trying to go to https://pypistats.org/, which suggests to me we're probably not hitting the site over the limits (since I haven't tried to load that page in weeks). Since the objective here is just to transition to an automa

[2022-02-02 23:37] learn2phoenix commented on #247
@JessicaS11 Raised https://github.com/icesat2py/icepyx/pull/271

[2022-02-03 16:59] JessicaS11 commented on #247
@learn2phoenix Excellent! I just was able to go to https://pypistats.org/, so maybe you can try testing the script again so we know if we need to create a new issue for the access problem we were having yesterday?

[2022-02-03 17:03] learn2phoenix commented on #247
@JessicaS11 Tried it again and am getting the same error. I guess we should raise this issue

[2022-02-03 17:34] JessicaS11 opened #272 "PRs from forks fail Travis CI with `Earthdata authentication failed`"
In #271 we ran into the issue of all Travis-CI tests erroring after the setup in `conftest.py` failed because of secret environment variables. Travis-CI does not allow use of encrypted env variables for external (fork-based) PRs because it's a security risk. We need to modify our CI setup ([e.g.](https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions)) so that tests

[2022-02-03 18:18] #247 closed

[2022-02-03 20:32] learn2phoenix commented on #264
@JessicaS11 Is this resolved? If it's still standing, could I take this up?

[2022-02-03 20:56] JessicaS11 commented on #264
@learn2phoenix Sure - that would be great! Let me know how I can help.

[2022-02-03 21:00] JessicaS11 commented on #243
Based on #87, this may also need to mandate that `page_num` is provided if `sync` request mode is used.

[2022-02-03 21:37] JessicaS11 commented on #188
@wenjieji86 Apologies for not following up with more guidance for how to contribute. We're working on improving our resources for new contributors so I don't have to follow up manually beyond what's on our docs pages, and I'm trying to get better about staying on top of open issues.

In the meantime, some changes introduced in #87 made it super easy to enable single-page ordering as previously dis

[2022-02-04 21:31] JessicaS11 commented on #247
@learn2phoenix I'd added to the existing open [pypistats issue](https://github.com/crflynn/pypistats.org/issues/42#event-6006748996) I linked to the other day and there was just a response from the maintainer. It sounds like we should be good to go. : )

[2022-02-07 04:08] adfraser commented on #151
I found it today too:
`spatial_extent = [0, -80, 90, -60]`
didn't work, but...
`spatial_extent = [1, -80, 90, -60]`
worked fine.

[2022-02-08 17:27] nitin-ravinder opened #274 "Connection Error to Earth Data login"
[code]
When I try to query some files to download using the code above, I get the following error.
[code]
Sometimes, I am able to login without the error above. But, running the following line of code, I get the server error below.
[code]
[code]

[2022-02-09 16:41] JessicaS11 commented on #274
@weiji14 Thanks for working with @nitin-ravinder on this (and thanks for reporting the issue). Have you done any more digging into the error or been able to reproduce it?

[2022-02-09 16:55] JessicaS11 commented on #151
Thanks for reporting your error case, @adfraser.

From a quick look at the [CMR API docs](https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#c-spatial), the NSIDC API can handle both sets of coordinates:

I like @liuzheng-arctic's idea to provide the user with a warning/alert if they are crossing the dateline, perhaps with a "proceed anyway" response required if they're searching for

[2022-02-09 17:02] weiji14 commented on #274
No I haven't tried to reproduce the connection error yet. I gave a suggestion to downgrade to Python 3.9 (because there have been some weird issues with some libraries on Python 3.10) but not sure if that actually worked. Nitin did mention yesterday that he was also having issues with accessing the NSIDC data URL directly too, so I was wondering if there might be some problem on the NSIDC server.

[2022-02-09 17:13] #22 closed

[2022-02-09 19:44] linxiongecu opened #275 "import icepyx error"
I am tring to use icepyx  but got an error when trying to import:

import icepyx as ipx
Traceback (most recent call last):
File “”, line 1, in
File “C:\Users\hopedun\anaconda3\envs\icepyx-env\lib\site-packages\icepyx_init_.py”, line 1, in
from icepyx.core.query import Query
File “C:\Users\hopedun\anaconda3\envs\icepyx-env\lib\site-packages\icepyx\core\query.py”, line 22, in
from icepyx.core.visual

[2022-02-09 19:51] nitin-ravinder commented on #274
Thanks @JessicaS11 and @weiji14 for following up on the issue. I tried again by downgrading to Python 3.9 as suggested by Wei Ji, I ran into the same issues. The Connection error while logging in did not appear after I ran the line again and entered the password for login. Essentially, I am still facing the same issues (Another error while reading data, when I try to 'load' onto a variable, the Ke

[2022-02-14 15:26] linxiongecu opened #277 "IndexError: list index out of range"
Hi, I got 'IndexError' when I am trying to read most recent ATL08 data products using 'load' from icepys.

[code]

[2022-02-14 20:20] JessicaS11 commented on #277
Hello @linxiongecu! I'm glad you were able to get some data downloaded.

Do you know which file (or list of files) is causing this issue? Then I may be able to download the same granule to try and reproduce the issue. Could you also provide me with the output of `reader.vars.wanted`? Thanks!

[2022-02-14 21:55] linxiongecu commented on #277
Hi Jessica,

Basically the load command cannot go through all ATL08 data.
One file for my test is :
processed_ATL08_20181017085235_02860107_005_01.h5

Here is the ouput for reader.vars.wanted:

{'sc_orient': ['orbit_info/sc_orient'], 'atlas_sdp_gps_epoch': ['ancillary_data/atlas_sdp_gps_epoch'], 'cycle_number': ['orbit_info/cycle_number'], 'rgt': ['gt1l/land_segments/rgt', 'gt1r/land_segments/rgt'

[2022-02-16 16:24] JessicaS11 commented on #277
Thanks for providing the file and output. It allowed me to reproduce the IndexError and start debugging. It turns out there was a mismatch in list lengths that was causing the issue. I've resolved that (see [this branch](https://github.com/icesat2py/icepyx/tree/debug)). Another error has arisen due to the longer path lengths of variables in ATL08 versus the datasets I'd initially tested on. I'll c

[2022-02-16 16:41] nitin-ravinder commented on #274
Hi @JessicaS11  and @weiji14, apologies for taking a long time in getting back on this. I tried pip installation with Python 3.9. The connection error doesn't seem to be an issue anymore. But when I order granules, I still get the HTTP Error. At this point, I wouldn't want to download the data through the code anyway, because it is a lot of files. The issue I previously faced while reading the dat

[2022-02-18 15:41] nitin-ravinder commented on #274
Yes, I'm still getting that error, even after the downgrading python.

And, yes, I received a decision regarding my application (although, it was not accepted :( ). But, I'll looked forward to the videos and tutorials.

[2022-02-18 16:41] JessicaS11 opened #278 "NSIDC not implemented error with readable_granule_name"
An extension of #274, the ability to order granules by readable_granule_name is not working. Specifically,

[code]
returns:
```HTTPError: 501 Server Error: Not Implemented for url: https://n5eil02u.ecs.nsidc.org/egi/request?short_name=ATL06&version=005&options%5Breadable_granule_name%5D%5Bpattern%5D=true&options%5Bspatial%5D%5Bor%5D=true&readable_granule_name%5B%5D=ATL06_%3F%3F%3F%3F%3F%3F%3F%3F%3

[2022-02-18 16:42] JessicaS11 commented on #274
I'm going to close this issue and open a new one to handle the HTTP error (which I was able to reproduce), since it not longer seems to be about the Earthdata login.

[2022-02-18 17:11] tsutterley commented on #278
I think that readable granule names still works for CMR queries but they are solely `CMRparams` not `reqparams`.  Since this looks like they're being used as request parameters to the NSIDC API, I'd have to dig back into the code to figure out why.  I thought they only got added for CMR queries.

[2022-02-18 17:43] Chrismarsh opened #279 "ipx.Query KeyError: 'feed'"
I'm working through the notebooks in doc/source, both `IS2_data_access` and `IS2_data_access2-subsetting` but I cannot get past the first query

[code]

I'm using the latest pip installed version.

[2022-02-21 13:16] kiksekage opened #280 "Requesting large orders lead to incomplete downloads"
Hey! First of all, thanks for maintaining library, good work!

I am running into some issues when requesting large (100+ granules) orders of ATL03 data. 1 data request is submitted to NSIDC and downloads succesfully but there are several files missing. When unzipping the order with ID `XYZ` a readme is included with links to the other parts of the order: https://n5eil02u.ecs.nsidc.org/esir/XYZ.zip

[2022-02-21 16:04] JessicaS11 commented on #278
Repeating you to make sure I have it right: readable granule names are valid for CMR queries, but not for the order request itself (which would match with the error message)? Here `reqparams` is actually "required parameters" that MUST be supplied to submit a request (with the specific parameters depending on whether it's a CMR query or order to the NSIDC API). So it sounds like they are getting c

[2022-02-21 16:28] JessicaS11 commented on #280
Hello @kiksekage - thanks for getting in touch!

When you say "files are missing", is this in comparing the available granules list to the actually downloaded files? If so, it may be because the available granules list identifies POTENTIAL granules based on metadata, where as during the order and download process, the files are actually subset to your area of interest and not returned if they don'

[2022-02-22 14:40] kiksekage commented on #280
This is comparing to the same area and datetime but between versions 0.4.0 and 0.5.0 of `icepyx`. We dont do any subsetting, just the spatial extent and the date range so the results should be comparable. Im assuming that if I downloaded the links in the readme file I would end up with the same amount of `*.h5` files

When the downloads hang, it currently hangs up the python process as well. Our w

[2022-02-24 16:53] #72 closed

[2022-02-25 16:40] JessicaS11 commented on #279
Hello @Chrismarsh! Thanks for getting in touch. Unfortunately, I am unable to reproduce this error. I'm wondering if it could be an internet connectivity issue. Could you verify that you're still unable to run these examples, provide the output of `ipx.__version__`, and confirm which product you are trying to create your Query object for (the error message shows ATL08, but the code shows ATL09, wh

[2022-02-25 17:43] JessicaS11 commented on #14
Update: I would like these resources to include an interactive "how to contribute to icepyx" jupyter notebook that helps with development environment management (e.g. `pip install -e.`) and other tips and tricks.

[2022-02-25 19:25] JessicaS11 commented on #280
Hmmm... thanks for this additional information.

@asteiker @betolink @andypbarrett Can you (or anyone at NSIDC) shed any light on this? Are there differences in how EGI outputs data orders for download depending on their size such that we'd need to unzip one or more of those files to download the rest?

@kiksekage I just wanted to let you know that (as you no doubt know), without an error message

[2022-02-28 19:51] JessicaS11 commented on #277
@linxiongecu I implemented the fix last week. @weiji14 suggested you might be a good person to review the PR (#281) so we can get it merged into the development branch. Are you able/willing to do that? If so, I will add you to the organization so you have PR review permissions.

[2022-03-01 16:05] linxiongecu commented on #277
Sure. I can review that! Thanks for adding me!

[2022-03-04 20:01] JessicaS11 opened #283 "custom data analyses with xarray"
icepyx enables ICESat-2 data product read-in into an xarray DataSet. This provides a powerful platform for creating custom functionalities for working with ICESat-2 data. Share your xarray data manipulation functions by adding them to icepyx for others to use and customize.

[2022-03-04 20:53] JessicaS11 opened #286 "fix travis release builds"
Currently release PRs fail on Travis because it doesn't properly create an Earthdata session (so all the tests behind Earthdata fail).

[2022-03-05 17:44] weiji14 opened #288 "Accessing ATL14 gridded land ice data with icepyx.Query"
With #276, there was some logic added that allows icepyx to load ICESat-2 gridded products that have been downloaded already. But in order to **download** these ICESat-2 gridded products like ATL14/ATL15, it looks like more changes are needed. This is the error I'm getting when trying to load an ATL14 sample over Iceland.

[code]

<details>

[code]
</details>
The problem seems to be this line:

ht

[2022-03-07 15:41] JessicaS11 commented on #288
I'm getting this with ATL06 too, and I suspect it will happen for all products. @betolink @asteiker @andypbarrett any idea what's going on?

[2022-03-07 15:57] betolink commented on #288
Hi @JessicaS11, I don't think anything changed. I see the certificate valid until Feb 28th, 2023 for https://n5eil02u.ecs.nsidc.org/egi/capabilities/ATL14.001.xml

![SSL](https://user-images.githubusercontent.com/717735/157069920-cd6b86fc-ab0a-479e-9460-0d4ff8d1654d.png)

Let me try the code Wei is using above and see if I get the same error.

[2022-03-07 16:02] weiji14 commented on #288
Looks like the certificate got updated (it was expired when I tried over the weekend). I just tried a minute ago and the download now works.

[2022-03-07 16:05] JessicaS11 commented on #288
And it was still expired when I tried a few minutes ago too. Glad it's working now!

[2022-03-07 17:32] #288 closed

[2022-03-08 15:42] JessicaS11 commented on #277
Hello @linxiongecu! Could you please give an indication if you're still able to review the PR fixing this issue, and if so, when you anticipate you will be able to? I usually give people a few weeks, but we have an event coming up in 1.5 weeks and I'd like to have as many bug fixes released before the event as possible. Thanks!

[2022-03-08 18:29] JessicaS11 commented on #278
@nitin-ravinder I wanted to follow up here that NSIDC has opened a ticket to add `readable_granule_name` as an allowable input for data orders. In the meantime, I will update the icepyx data access example to note that you can search for granules by cycle and track, but can currently only order using spatial and temporal parameters (there is no way to specify a set of granules to order programmati

[2022-03-09 18:05] #286 closed

[2022-03-09 19:54] liuzheng-arctic commented on #280
I had something similar happened before when a single order is separated into several .zip files and the current download function will take only the first one. I haven't got time to track down for a fix to the code but a workaround I used was to set the page number small so that there is only one .zip file per order. I don't know the NSIDC's size limit for breaking up .zip files but several gig s

[2022-03-09 20:19] liuzheng-arctic commented on #280
Sorry that I closed the issue by mistake. As I mentioned in another comment, currently the download URL is constructed using the order number only. The separated files has 1/2/3.. added to them but I don't have an example now. If we can figure out how many zip files there are and the format of the filenames, it should be easy to fix.

[2022-03-10 13:25] linxiongecu commented on #277
Hi, @JessicaS11 ,  do you have any instructions for the reviewing process? I am new to this and not know how to do it.  Thank you!

[2022-03-12 20:26] ricardobarroslourenco commented on #277
@JessicaS11 I have got into the same issue with `h_canopy` here (refer to [discussion](https://discourse.pangeo.io/t/error-while-trying-to-open-atl08-file-with-icepyx/2313), and [gist](https://gist.github.com/ricardobarroslourenco/4edc56827862bb64c3aa0985e5b9d6e2)) .

I have went over your changes and they seem ok. Can I go over this review too?

[2022-03-14 12:40] linxiongecu commented on #277
I tried: pip install https://github.com/icesat2py/icepyx/archive/debug.zip
But get a warning: WARNING: Built wheel for icepyx is invalid: Metadata 1.2 mandates PEP 440 version, but 'unknown' is not
When I call: reader.load(), there is no error but the kernel will die and need to restart.

[2022-03-14 12:49] ricardobarroslourenco commented on #277
Are you using Anaconda/Miniconda's Pip, or from another Python install?

Em seg., 14 de mar. de 2022 às 08:40, linxiongecu ***@***.***>
escreveu:

--
<https://about.me/ricardobarroslourenco?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Ricardo Barros Lourenço
about.me/ricardobarroslourenco
<https://about.me/ricardobarroslourenco?promo=email_sig&

[2022-03-14 12:52] weiji14 commented on #277
Sorry, gave the wrong command. Try `pip install git+https://github.com/icesat2py/icepyx.git@debug` instead. Newer versions of pip > 21.0 makes things tricky (see https://github.com/pypa/pip/issues/8368).

Oh and thanks for chipping in @ricardobarroslourenco! Feel free to review the code over at #281. See @JessicaS11's tips at https://github.com/icesat2py/icepyx/issues/277#issuecomment-1065247400 o

[2022-03-14 13:09] linxiongecu commented on #277
@weiji14     Thanks for the instruction. Installation works now.
                    But the **kernel will still die** when I use load() function. No error is reported.

[2022-03-14 13:16] weiji14 commented on #277
Cool, could you copy and paste the code that shows how you are calling [load()](https://github.com/icesat2py/icepyx/blob/c3287b82c1473d3ca4503af928667f06098fbc66/icepyx/core/read.py#L447)? Just want to see what's happening.

[2022-03-14 19:02] ricardobarroslourenco commented on #277
Hi @JessicaS11 and @weiji14 ! Thanks for the instructions. I have just accepted the invite and will be going over the PR review.

[2022-03-15 15:16] zachghiaccio opened #293 "Comparing ICESat-2 with multiple types of data"
ICESat-2 is a spaceborne lidar that collects spot measurements at high resolution (~0.7 m). This allows users to compare ICESat-2 data with either (a) spot measurements from airborne/in-situ sources or (b) maps of raster data.

Because raw ICESat-2 data files are very large, icepyx can subset the data by the location and time of complimentary in-situ, airborne, or spaceborne measurements. Choose a

[2022-03-16 11:01] nitin-ravinder commented on #278
@JessicaS11, thanks a lot for clarifying the issue! I'm sorry for getting back so late, I was quite busy as I was relocating. At this point, I cannot offer any suggestions as I'm still familiarising myself with icepyx. I will get in touch when I can think of something.

[2022-03-17 18:48] #277 closed

[2022-03-18 15:41] weiji14 opened #298 "Cross-section plots of ATL03, ATL06, ATL08, etc"
Just wanted to say, @fliphilipp has written a lot of code on making cross-section plots in https://github.com/ICESAT-2HackWeek/website2022/pull/74.

![image](https://user-images.githubusercontent.com/23487320/159034432-31d0eb94-dace-45c5-b8d5-763eb82975a7.png)

It would be great to polish that code up at https://github.com/ICESAT-2HackWeek/website2022/blob/b8ccfd60e858d57ffe8de06c828146133f34e859/

[2022-03-21 18:10] JessicaS11 commented on #283
One possible (and more specific) example of this could be: make it easy to filter by beam strength (either during read-in or once data is loaded).

[2022-03-28 09:15] mlinds opened #299 "Data caching feature"
I noticed that if you run the same download request twice in a row, it will complete the download again and overwrite the files. I'm new to using this package so I'm not completely aware of the different use cases, but I was thinking the default behavior should be to check if the same request has been made and the results are available, to reduce server loads and increase the speed of running a no

[2022-03-28 16:38] weiji14 commented on #299
Hi @mlinds, this sounds like a great idea, and thanks for offering to open a PR!

Could you elaborate more on how you would be implementing the cache mechanism? Specifically:

1. Why did you decide to go with an sqlite db (is it so that concurrent read/writes are allowed?)
2. How do you check if the data to-be-downloaded is the same as that locally (do you check the filesize, filename and/or a has

[2022-03-29 14:00] s2002365 opened #300 "Extracting asc/descending tracks in high latitudes (regions 4 and 11)"
Hi! It would be great to develop a way to extract just ascending or descending tracks when downloading data with icepyx from regions 4 and 11 (highest latitude regions).  Currently every granule in these two regions contains both ascending and descending tracks, but since we know which tracks are which it should be possible to distinguish them somehow at the point of order/download. @tsutterley ha

[2022-03-29 15:41] JessicaS11 opened #301 "conda-forge download statistics"
Currently we track (and visualize) GitHub clones and PyPI downloads [here](). It would be great to add conda-forge data to this. Steps required (draft list):
- [ ] build Python script to access/download and visualize data
- [ ] determine the best way to do above (likely via this [anaconda package data library](https://github.com/ContinuumIO/anaconda-package-data))
- [ ] create a GitHub action to r

[2022-03-31 16:22] nmt28 opened #302 "AttributeError: partially initialized module 'fiona' has no attribute '_loading' (most likely due to a circular import)"
Installation via conda on Mar 31 2022 is successful but returns this error when icepyx is run:

AttributeError: partially initialized module 'fiona' has no attribute '_loading' (most likely due to a circular import)

[2022-03-31 19:23] JessicaS11 commented on #302
Hello @nmt28! Are you trying to install into an existing conda environment, or creating a new one that includes icepyx? Fiona recently logged this [same error](https://github.com/conda-forge/fiona-feedstock/issues/192#issuecomment-1081503866) and traced it to a gdal release made around the same time as their update. As best I can tell, both libraries have released fixes, and I was unable to reprod

[2022-03-31 19:27] nmt28 commented on #302
Yes I was installing it into a new env, built upon python=3.9. It seems like the new GDAL builds have been breaking a lot of things recently. I did see one solution that recommended installing Fiona before geopandas. The pip install works fine so I ended up using that one.

I'm running it on Mac OS

[2022-03-31 19:53] nmt28 commented on #302
Yeah that works for me. I'm increasingly having to pin versions of things - especially anything that uses rasterio which does NOT play nicely with GDAL. I also used mamba - sorry I should have been more specific there. I think giving them a couple of days to sort it out is a good idea for now. As long as the pip version works, it should be fine in the short term.

[2022-04-01 01:41] weiji14 commented on #302
There was some effort into making a docker image at https://github.com/icesat2py/icepyx-examples-image, but that didn't go very far for some reason.

Looking at https://github.com/icesat2py/icepyx/blob/v0.6.2/requirements.txt, I would say fiona is the key one that uses GDAL directly.

But back to your original installation problem, the conda-forge issues should sort themselves out in a few days. I

[2022-04-01 12:10] jorisvandenbossche commented on #302
@nmt28 could you show the output of `conda list` of the broken environment? (so we can check the exact build versions that is being used). As @weiji14 mentioned, this is getting handled in conda-forge, but I expected that the latest build should be working again (unless the issue of a few days ago reappeared).

[2022-04-01 14:12] nmt28 commented on #302
@jorisvandenbossche

current conda list:

#
# Name                    Version                   Build  Channel
appdirs                   1.4.4              pyh9f0ad1d_0    conda-forge
asciitree                 0.3.3                      py_2    conda-forge
attrs                     21.4.0             pyhd8ed1ab_0    conda-forge
backoff                   1.11.1             pyhd8ed1ab_0    conda-for

[2022-04-01 14:19] jorisvandenbossche commented on #302
@nmt28 you have older versions for some libraries (GDAL is a recent 3.4.1 (although there is a more recent 3.4.2), but eg proj / pyproj are quite old). Did you pin certain versions of packages? It might be that the specific combination of versions because of that is no longer working ..

[2022-04-01 14:22] nmt28 commented on #302
no, no pinning on my end just:

mamba create -n name python=3.9
mamba install -c condo-forge icepyx

[2022-04-01 14:38] nmt28 commented on #302
ok, seems like pyproj=3 may have worked. I'm no longer getting the import error. Pyproj is seems to be the source of many of my errors - it likes 2.6.1 by default for some reason

[2022-04-01 19:15] nmt28 commented on #302
Do you think we can close this out as a pyproj version error on Mac OS?

[2022-04-02 07:17] jorisvandenbossche commented on #302
I am not familiar enough with the situation to say. I know there were some other reported issues for MacOS related to pyproj (https://github.com/conda-forge/fiona-feedstock/issues/194), but that was for older python versions.
In any case, if forcing pyproj >= 3 in your env works and resolves the issues, that sounds as a good solution.

[2022-04-04 18:42] JessicaS11 commented on #302
@weiji14 The person working on it switched jobs.

@nmt28 I think so - I was able to import icepyx successfully inside `mamba create -n ipxtest -c conda-forge icepyx`, which we could not last week. If I try to create the env in two steps (installing icepyx inside an existing environment) I still get import errors, but not THIS ISSUE'S AttributeError (instead it's a jinja2 ImportError coming from pa

[2022-04-04 18:42] #302 closed

[2022-04-04 18:42] JessicaS11 commented on #302
Thanks for your help and input @jorisvandenbossche!

[2022-04-07 17:22] scottyhq opened #303 "InternalError-Cannot run program ' '"ICESat2ToolAdapter.py": error=24, Too many ' 'open files'"
This looks to me like a server-side NSIDC error. cc @betolink @mikala-nsidc:

[code]

[code]

[2022-04-07 21:53] RGFell commented on #303
If is it worth the comment, I had a similar issue yesterday I had to resend the command several times. In the end, I couldn't download all the lines I needed.

[code]

[code]

[2022-04-07 21:56] betolink commented on #303
@scottyhq looks like there were some EGI-related errors yesterday. Troy W. said they seem to be fixed now. Can you try again?

[2022-04-07 23:36] RGFell commented on #303
@betolink @scottyhq it seems that today is working fine. So far I have had no issues with the download of data. @betolink would you recommend to re-download the data that I downloaded yesterday?

[2022-04-08 00:02] betolink commented on #303
@RGFell I think downloading it again is a good idea., just to be sure.

[2022-04-08 00:35] #303 closed

[2022-04-17 14:05] lj512lj512 opened #304 "AttributeError: module 'icepyx' has no attribute 'Read'"
I cannot use icepyx to read the H5 data I download using icepyx.

When I run dir(icepyx), I got the following result:

['Query',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'core']

[2022-04-18 19:16] JessicaS11 commented on #304
Hello @lj512lj512 - thanks for reaching out!

According to the [documentation](https://docs.python.org/3/library/functions.html#dir), the output of `dir(icepyx)` that you are getting is expected behavior. `icepyx` itself (if from `import icepyx`) is a module, not an object. To use icepyx to read in data, you'll need to create an `icepyx.Read()` class object. Details on how to do this are provided

[2022-04-18 19:42] lj512lj512 commented on #304
Hi Jessica,

Thank you for your reply. But when I run icepyx.Read(), I got the error:
AttributeError: module 'icepyx' has no attribute 'Read'

I used ‘conda install icepyx’.

Kind regards,
Jun

From: Jessica ***@***.***>
Sent: Monday, April 18, 2022 9:16 PM
To: icesat2py/icepyx ***@***.***>
Cc: Jun Liu ***@***.***>; Mention ***@***.***>
Subject: Re: [icesat2py/icepyx] AttributeError: module 'icepy

[2022-04-18 19:49] JessicaS11 commented on #304
@lj512lj512 It looks like you've responded via email - I did some more digging after my initial message and modified my response:

[2022-04-18 19:54] lj512lj512 commented on #304
Hi Jessica,

When I run ‘conda install icepyx’, I have the version of 4.10.3.

***@***.***

Best,
Jun

From: Jessica ***@***.***>
Sent: Monday, April 18, 2022 9:50 PM
To: icesat2py/icepyx ***@***.***>
Cc: Jun Liu ***@***.***>; Mention ***@***.***>
Subject: Re: [icesat2py/icepyx] AttributeError: module 'icepyx' has no attribute 'Read' (Issue #304)

@lj512lj512<https://github.com/lj512lj512> It look

[2022-04-18 20:06] JessicaS11 commented on #304
That looks like the conda version number (icepyx versions are all <1).

What's the output of:
[code]

[2022-04-18 20:09] JessicaS11 commented on #279
Hello @Chrismarsh Are you still having this issue? Otherwise I am going to close the issue. Thanks!

[2022-04-18 20:19] lj512lj512 commented on #304
I got the following answer:
***@***.***
Best,
Jun

From: Jessica ***@***.***>
Sent: Monday, April 18, 2022 10:07 PM
To: icesat2py/icepyx ***@***.***>
Cc: Jun Liu ***@***.***>; Mention ***@***.***>
Subject: Re: [icesat2py/icepyx] AttributeError: module 'icepyx' has no attribute 'Read' (Issue #304)

When I run ‘conda install icepyx’, I have the version of 4.10.3.

That looks like the conda version n

[2022-04-18 20:32] lj512lj512 commented on #304
Hi Jessica,

I created a new environment and reinstall icepyx by the following code:

conda create --name icepyx-env --channel conda-forge icepyx
conda activate icepyx-env

Now, it works.

Do you think it is conflict with other packages, for example, geopandas. Because I have geopandas in the old environment.

Best,
Jun

From: Jessica ***@***.***>
Sent: Monday, April 18, 2022 10:07 PM
To: icesat2p

[2022-04-18 20:49] lj512lj512 commented on #304
Hi Jessica,
Thank you very much for your help. I can use icepyx now.
But I have another problem when I read ICESat-2 ALT03 that I downloaded using icepyx. The raw ICESat-2 ALT03 (download from the webset directly ) have longitude, latitude, and height variables named ‘lat_ph’, ‘lon_ph’ and ‘h_ph’, but I can’t find them in the icepyx downloaded .h5 files. Do you have any suggestions of this issue?

[2022-04-18 21:41] JessicaS11 commented on #304
Yay! I'm glad you got it working.

Unlikely. An icepyx install requires geopandas, so your new environment should have geopandas as well. Without knowing what version you were using before, I can't say what the issue was, but I suspect that you were just running an old version of icepyx.

I'm not sure what's going on. Could you please share the full code you are using to download data with icepyx?

[2022-04-19 04:33] lj512lj512 commented on #304
Hi Jessica,
Thank you very much. I run the code again, and it works now. Maybe I used the old version to download ALT03 data before. I downloaded the data again, and I can find all the variables that I want to use.
Thank you for helping me.
Kind regards,
Jun

From: Jessica ***@***.***>
Sent: Monday, April 18, 2022 11:42 PM
To: icesat2py/icepyx ***@***.***>
Cc: Jun Liu ***@***.***>; Mention ***@***

[2022-04-19 11:14] lj512lj512 commented on #304
Hi Jessica,

Thank you again for your timely help. It is a very useful package for ICESat-2 data accessing and processing.
I still have a simple question when using the ‘icepyx.Quary. earthdata_login’ function. I have tried to pass my password to the function, but it doesn’t work.
***@***.***
Do you have any idea of how I can give the password to the function automatically?
Thank you very much.

K

[2022-04-19 13:57] JessicaS11 commented on #304
I'm so glad you got things working! Thanks for reaching out and I'm glad we were able to figure things out.

As for logging in - it may not be the issue in your code, but in your message "Query" is misspelled as "Quary". For diagnosing issues, please confirm you have the right username and password by logging in directly to [Earthdata](https://urs.earthdata.nasa.gov/). If that's working but you st

[2022-04-19 14:16] lj512lj512 commented on #304
Thank you soooooo much!!!!!
I used git bash to create a .netrc file, and it works. Now I can download the data without manually input my password. Thank you sooooo much.

Kind regards,
Jun

From: Jessica ***@***.***>
Sent: Tuesday, April 19, 2022 3:58 PM
To: icesat2py/icepyx ***@***.***>
Cc: Jun Liu ***@***.***>; Mention ***@***.***>
Subject: Re: [icesat2py/icepyx] AttributeError: module 'icepyx'

[2022-04-19 16:04] #304 closed

[2022-04-22 14:01] s2002365 commented on #300
Hi @weiji14 - sorry I missed this reply! I'm sure there are a number of use cases, but for my work I am mainly interested in looking at tracks that cross approx perpendicular to the grounding line. This means that often I only want either ascending _or_ descending tracks as the one group may all be parallel to the GL, which I don't need (but currently still have to download if I select all tracks

[2022-04-22 14:13] weiji14 commented on #300
Ah ok, so you'll want a filter to avoid downloading unnecessary data. Implementation-wise, I'm not sure if it's possible to modify `icepyx.Query` to tell NSIDC that we just want ascending/descending tracks (i.e. it might require coordinating with the data provider), but @JessicaS11 should have a better idea, or at least know who to talk to about this.

Will you be joining the icepyx meeting next M

[2022-04-22 22:22] Chrismarsh commented on #279
Hi @JessicaS11, sorry I must have missed your first reply to this ticket!

I had to pivot away from trying the ICESAT data, but will be trying again in the next month+. If you prefer, why not close this and I can reopen it if it turns out to be more systematic?

[2022-04-29 20:39] JessicaS11 commented on #278
See the updated comment in #292. After further digging, it looks like we found an edge case in the subsetter versus CMR API implementations of `readable_granule_name`. The former can only handle one string, while the latter will search for a list of strings. Namely:
[code]

worked, but:
[code]
doesn't when submitting an order.

@nitin-ravinder, could you check that your use case works with the upd

[2022-05-05 15:28] #279 closed

[2022-05-05 17:25] nitin-ravinder commented on #278
Hi @JessicaS11, thanks a lot for the update! I'm not sure I know things well enough to be able to review it. I'm not very experienced with git and am still learning it, so I'm not sure what a review entails. I would like to learn and be of some help. Perhaps, I can attend an icepyx meeting and have a discussion there. I'm currently preparing for my first conference at the end of this month, so the

[2022-05-13 18:46] JessicaS11 commented on #278
Thanks, @nitin-ravinder! I'm working on a "how to do a GitHub code review" guide for the The Turing Way, but until I complete it... as with any review, the goal is to provide feedback. In the case of software/documentation, your role as a reviewer is to look over the additions and (as in this case) test the code to make sure that the issue is actually resolved (and that we haven't created any new

[2022-06-08 11:53] nitin-ravinder commented on #278
Thanks, @JessicaS11! I'm extremely sorry for taking so long to get back on this. Yes, a walk-through would be really helpful to get started. I can join in on the next icepyx meeting (14th June) if that works or I'm available at another time too, if that's better.

[2022-06-09 14:03] JessicaS11 commented on #278
@nitin-ravinder no worries! The Tuesday 14 June icepyx meeting sounds like a great idea - let's plan to do a PR review walk-through then.

[2022-06-09 15:00] nitin-ravinder commented on #278
Great! Thanks, @JessicaS11 :)

[2022-06-09 19:45] sjh1024 opened #317 "Make GenQuery spatial_extent close polygons automatically"
From comment in Query.py, in class GenQuery, regarding parameter `spatial_extent` :
*"DevGoal: adapt code so the polygon is automatically closed if need be."*

1. Ensure Query objects "close the polygon" if the first/last points are equal (i.e. change the "spatial_extent" property to have one more point equal to the first point)
2. Ensure that a warning is thrown to tell the user that the polygon

[2022-06-09 20:39] sjh1024 opened #318 "Turn validate_inputs.py validation functions into classes"
From comment in validate_inputs.py:

`DevGoal: clean up; turn into classes (see validate_inputs_classes.py)`

The functions this seems to be referring to include:

* spatial
* temporal

From what I understand/can see from the code at this time, there wouldn't be much benefit in changing the following functions ABOVE the comment into classes:

* prod_version
* tracks
* cycles

This is because these

[2022-06-11 16:10] sjh1024 commented on #317
Steps 1 and 2 are complete, will push change to branch `sjh1024` (and create PR) when tested.

[2022-06-14 17:14] #278 closed

[2022-06-23 14:31] sjh1024 commented on #317
Step 3 is complete. Will be making a PR containing this fix + [#318](https://github.com/icesat2py/icepyx/issues/318) by end of this week.

[2022-06-23 16:06] sjh1024 opened #321 "Integrate "geospatial.py" module with new "validate_spatial" class"

[2022-06-23 16:08] sjh1024 commented on #321
From @JessicaS11's comment on #318 -

It is worth thinking about how the spatial portion might be (potentially) combined with the geospatial.py module as well as utilizing existing libraries to the extent possible to validate and refine inputs. For instance, using Shapely:

[code]

Both fmtbox and b_fmtbox will output (-55.0, 68.0, -48.0, 71.0) as the valid, correctly formatted bounding box. In th

[2022-07-05 21:27] #317 closed

[2022-07-05 21:29] sjh1024 commented on #318
PR has been created for Spatial class, will be making a separate one for temporal class when completed.

[2022-07-07 18:39] JessicaS11 opened #324 "update docs help/contact to reflect activation of GitHub Discussions"
we recently activated GitHub Discussions for icepyx. It would be good to keep our notes about Pangeo Discourse posts (since they have many helpful tips/conversation), but we should update our docs to encourage posting directly on GitHub, which will make it easier to link issues and PRs to the conversations.

[2022-07-07 18:54] siddhant-tripathy1 commented on #324
hey, @JessicaS11 could we add to the docs :
1. https://discourse.pangeo.io/search?q=icepyx (for the posts they could find )
2.  https://github.com/icesat2py/icepyx/discussions(and for the newcomers to engage more in discussions)

[2022-07-12 22:02] dbaston opened #325 "Invalid longitude error if bounding box contains a zero"
Trying to query with the bounding box `(0, 0, 1, 1)` throws the following error:

[code]

This is apparently because `np.sign(0) != np.sign(1)`. If I try to nudge the bounding box to avoid the error, with `(1e-6, 1e-6, 1, 1)` I get:

[code]

[2022-07-12 22:49] JessicaS11 commented on #325
Hello @dbaston! Thanks for reporting this. We're actually in the process of improving our spatial input handling (#322) to address #321 and several other issues (e.g. for inputs that cross the dateline). @sjh1024, perhaps we could add this as a test case?

I'd have to dig in a bit more to try and figure out why the NSIDC API doesn't like the submitted query - it may be that their API cannot handle

[2022-07-19 17:56] sjh1024 commented on #325
Thank you for reporting this! I will add this test case + discuss a potential fix with Jessica this week.

[2022-07-19 22:30] trey-stafford commented on #235
We (NSIDC) were recently informed that echo tokens will no longer be supported 'soon'. I'm not sure what the exact timeframe is, but we've been advised to eliminate our use of echo tokens ASAP.

As I was searching our code for instances of the echo token endpoint, I noticed it's use in `icepyx.core.Earthdata` and came here to open an issue, but found this existing one!

This page has some addition

[2022-07-20 16:05] trey-stafford commented on #235
I received an update this morning: echo tokens will be phased out in January 2023.

[2022-07-21 19:53] JessicaS11 opened #326 "update attribution guidelines"
update attribution guidelines to reflect the transition to using the all-contributors framework

[2022-07-22 20:17] JessicaS11 commented on #235
Thanks for letting us know, @trey-stafford, and for sharing some resources!

[2022-07-27 19:30] JessicaS11 opened #330 "update tests to use version 5 products"
Tests behind the Earthdata login are failing on Travis (as in #329) because they're using version 004, which is no longer available. To fix this we'll need to:
- [] update the tests/ATl06vxx_options.json
- [] update any tests that use this json to use a current product version

[2022-07-29 19:24] sjh1024 commented on #321
Issue has been resolved with PR #322

[2022-07-29 19:24] #321 closed

[2022-07-29 19:25] sjh1024 commented on #318
Issue is resolved with PRs #322 and #327

[2022-07-29 19:25] #318 closed

[2022-09-16 17:17] trchudley commented on #159
Hi!

Thanks for everyone's work on this. Just to report that I'm also experiencing the same issue in `order_granules()` when trying to subset an ATL03 query with a complex shape (length 1900). A simplified version of my process here, with `__version__` = `0.6.3`:

[code]

Error message is as follows:

[code]

I can resolve this issue by sampling every other coordinate (length 951), so I can say th

[2022-09-22 18:51] JessicaS11 opened #373 "reader fails when all beams aren't present in file"
As per [this excellent error writeup](https://discourse.pangeo.io/t/reader-load-issues-with-atl06/2761/), @tlohde demonstrated that when subsetting is applied during the data ordering process and that removes some beams from a granule, the icepyx `reader` module fails.

Please see the discussion at the link above for more information and reach out if you'd like to help us with a bug fix!

[2022-09-22 20:08] JessicaS11 commented on #325
Hello again @dbaston! This issue should be resolved with #322 and #331 (which will be included in the next release of icepyx, likely sometime in early October). Please let us know if you run into this or another issue in the future!

[2022-09-24 16:49] Siyuanhou opened #374 "local variable 'capability_url' referenced before assignment"
Hello, teacher.
I want to ask you a question.

capability_url = "https://data.nsidc.earthdatacloud.nasa.gov/s3credentials"
self._session = Earthdata(uid,email,capability_url).login()

Script query error , when I try to down the data. It is OK a few months ago, not this month. Is the Web page updated？

[2022-09-27 15:03] JessicaS11 commented on #374
Hello @Siyuanhou - thanks for reaching out. The `capability_url` you cited is for cloud data access (only). Are you on the early access list with NSIDC for beta test access to ICESat-2 data in the cloud? If not, you will not be able to create the proper credentials to access ICESat-2 data in the cloud (and you would likely not be downloading the data in a cloud-access scenario).

If you continue t

[2022-09-29 08:42] mmazzolini opened #375 "Server error on Query request."
Hi everyone, I'm trying to obtain some ATL03 data with icepyx. The code is the following:
[code]

several orders are normally processed, as I would expect. After some orders correctly processed (I also received the email when the order is complete) I receive the following error:

[code]
If I follow the URL and I get to this page:
[code]

Any idea how to fix this one? I'm not sure it's an icepyx pr

[2022-09-29 16:03] liuh886 opened #376 "read-in: the index error on ATL08"
I got a index error on ATL08 similar to these cases, but I am using `Icepyx version 0.6.3`:
- https://github.com/icesat2py/icepyx/issues/277
- https://discourse.pangeo.io/t/error-while-trying-to-open-atl08-file-with-icepyx/2313

Here is a minimal reproduction. I conduct it on two PC with the same result:

[code]

If this is not the same bug, I can post a new issue.

-)

_Originally posted by @liuh

[2022-09-29 21:12] JessicaS11 commented on #375
Hello @mmazzolini! Thanks for posting your issue. You are right that the error itself is not coming from icepyx, but rather the data center. Based on the message, it looks like icepyx is submitting a valid request and there are not results being found. Could you share the output for `icepyx.__version__`? I'm noting that a few of the defaults in the url submitted appear to be older values. We may n

[2022-09-29 21:28] mmazzolini commented on #375
Thanks for the quick answer. My icepyx version should be `0.3.4`..

[2022-09-30 16:38] weiji14 commented on #374
Haven't tested this, but it seems as though NSIDC has opened up cloud access to everyone? See https://nsidc.org/data/user-resources/data-announcements/data-set-updates-new-earthdata-cloud-access-option-icesat-2-and-icesat-data-sets. What ICESat-2 data product are you trying to access @Siyuanhou? ATL03, ATL06, or some other one?

[2022-10-01 13:53] Siyuanhou commented on #374
Thank you for your reply, I want to use the product of ATL03 to calculate the bathymetry in shallow region.The function of icepyx from the latest link , but it doesn't works(the web of AWS S3 is invalid). I didn't find a solution.Maybe you can help me.

--

syH
Xiamen unversity
***@***.***

At 2022-10-01 00:38:25, "Wei Ji" ***@***.***> wrote:

Haven't tested this, but it seems as though NSIDC has

[2022-10-01 14:42] Siyuanhou commented on #374
Thanks for your reply.I just used this data. I need to download a lot of data.How to join the access list with NSIDC for beta test access to ICESat-2 data in the cloud？ How to filter and download batch data when not in the list？

I will check my code and reply to you soon. It can be downloaded normally half a year ago until the latest.The error is reported as follows.

--

SY Hou
Xiamen University

[2022-10-03 17:58] JessicaS11 commented on #376
Hello @liuh886 - thanks for posting your issue and your patience in my reply (I was at a workshop last week). I've been able to reproduce your issue (thanks for the example code - that was extremely helpful), but have not yet drilled down into why it's happening (i.e. what may be different about your use case versus the ones we tested). I'll continue working on this, and would be happy to hear abo

[2022-10-03 21:08] weiji14 commented on #374
The cloud data access is still quite new, but try following the instructions at https://nsidc.org/data/user-resources/help-center/nasa-earthdata-cloud-data-access-guide. I just tried it on https://hub.aws-uswest2-binder.pangeo.io/hub/login and it seems to work, though the setup is a bit complicated for now. Basic steps seems to be:

1. Get credentials from https://data.nsidc.earthdatacloud.nasa.go

[2022-10-05 13:37] Siyuanhou commented on #374
Thank you for your patient reply. I'll try to adjust it.

--

SY Hou
Xiamen University ，China
***@***.***

At 2022-10-04 05:09:02, "Wei Ji" ***@***.***> wrote:

The cloud data access is still quite new, but try following the instructions at https://nsidc.org/data/user-resources/help-center/nasa-earthdata-cloud-data-access-guide. I just tried it on https://hub.aws-uswest2-binder.pangeo.io/hub/login

[2022-10-07 14:54] nmt28 opened #377 "hang time and time outs"
Recently I am getting a lot of time outs and hang times when trying to download IS2 data with icepyx. It's a clean installation of icepyx so it's the most up to date.

I'm assuming this is an issue with the NSIDC side of things rather than icepyx but I wanted to log this and ask if it is something you has noticed...?

[code]

[2022-10-14 20:15] JessicaS11 commented on #374
This is on my to-do list now that NSIDC has publicly released the data. I suspect @Siyuanhou may have identified the issue with:

It's possible that with the public release they updated the s3 urls required to access the data on the cloud, and because they weren't public (i.e. included in metadata from CMR) before, icepyx was constructing them manually.

[2022-10-14 20:18] JessicaS11 commented on #377
Hmmm... thanks for reporting this @nmt28. I haven't seen this, but I'm not often downloading data. I'll keep an eye out for it, and we're planning to make some behind-the-scenes improvements soon that will be bring us into compliance with NSIDC's current recommendations. Hopefully that will help, and please update us if not!

[2022-10-17 16:38] JessicaS11 opened #378 "CMR returning duplicate results"
[code]
Now returns a list of 8 granules instead of 4. However, it's just the same list twice. It's evident if you go directly to the [cmr url](https://cmr.earthdata.nasa.gov/search/granules?short_name=ATL06&version=005&temporal=2019-02-20T00:00:00Z,2019-02-28T23:59:59Z&bounding_box=-55.0,68.0,-48.0,71.0&page_size=2000) as well, which has led me to conclude there's been a change in CMR metadata ret

[2022-10-17 16:55] JessicaS11 commented on #378
From @asteiker:

[2022-10-17 16:58] tsutterley commented on #378
You can add the provider flag to switch between the two `&provider=NSIDC_ECS` or `&provider=NSIDC_CPRD`

[2022-10-17 17:44] JessicaS11 commented on #378
Can we assume there's a 1-1 relationship between the two granule lists? Or would it be better to assume CPRD is a subset (that could also be the equivalent set) of ECS (in which case we might want to fix to ECS for discovery initially, then let the user know if not everything is available via CPRD)?

[2022-10-17 17:48] JessicaS11 opened #379 "updates now that cloud data access is public"
NSIDC just announced that ICESat-2 is now available publicly in the cloud! Woohoo! This will require some updates on the icepyx end of things:
- [ ] update our example notebook accordingly
- [ ] change the way we get cloud granule urls (currently they're manually constructed)
- [ ] update our authentication to generate access tokens

I'll be starting to work on these items in the coming weeks, but

[2022-10-17 17:54] tsutterley commented on #378
There might be a lag upon a data release getting the data to s3, but they should be parallel

[2022-10-17 18:22] JessicaS11 commented on #378
To my surprise, converting the response from [url](https://cmr.earthdata.nasa.gov/search/granules?short_name=ATL06&version=005&temporal=2019-02-20T00:00:00Z,2019-02-28T23:59:59Z&bounding_box=-55.0,68.0,-48.0,71.0&page_size=2000&provider=NSIDC_ECS) (i.e. after adding `&provider=NSIDC_ECS`) to a json results in an empty "entry" list, even though it returns the expected results in a browser...

[2022-10-17 18:24] tsutterley commented on #378
the [JSON return from CMR](https://cmr.earthdata.nasa.gov/search/granules.json?short_name=ATL06&version=005&temporal=2019-02-20T00:00:00Z,2019-02-28T23:59:59Z&bounding_box=-55.0,68.0,-48.0,71.0&page_size=2000&provider=NSIDC_ECS) looks fine?

[2022-10-17 18:33] JessicaS11 commented on #378
Apparently VSCode can't handle multiple debugging sessions at once. So even though (as you point out) the CMR looked fine in a browser, it was not fine programmatically in that debug session. 🙄 Thanks for quickly confirming it SHOULD work.

[2022-10-17 19:04] betolink commented on #378
Not entirely related to this but, are you guys presenting demoing icepyx at the IS2 meeting?

[2022-10-17 22:15] #378 closed

[2022-10-20 08:38] arrueegg commented on #375
I have the same issue but i'm using icepyx 0.6.3 already, is there already a solution?

[2022-10-21 09:30] arindan opened #382 "Download fails when ATL06 data larger than around 500 MB"
Hi everyone,

I am Arindan from India. I have been exploring the ALT06 data through icepyx for the past few weeks. Its has been great going so far, but when my download query goes beyond ~500 MB, the download fails with an error message `ChunkedEncodingError`

`ChunkedEncodingError: ('Connection broken: IncompleteRead(6138 bytes read, 4102 more expected)', IncompleteRead(6138 bytes read, 4102 more

[2022-10-24 18:36] JessicaS11 commented on #382
Hello @arindan! Thanks for reaching out. We've had a few other reports of data downloads being incomplete, hanging, etc. and are working with the data center (NSIDC) to figure them out. To help us, would it be possible for you to share the entire error traceback (i.e. that whole long message that prints out with the error)? This looks like it may be another issue that's not technically happening w

[2022-10-25 05:02] arindan commented on #382
Dear Jessica,

Thank you for the comment. Below I have copied the complete error message, if can find which is not working in my own machine.

Best,
Arindan

`Total number of data order requests is  1  for  16  granules.
Data request  1  of  1  is submitting to NSIDC
order ID:  5000003725469
Initial status of your order request at NSIDC is:  processing
Your order status is still  processing  at NS

[2022-10-26 16:38] JessicaS11 opened #384 "accept all vector file inputs"
At L361, it says `if spatial_extent.split(".")[-1] in ["kml", "shp", "gpkg"]:` which restricts the possible file types to KMLs, shapefiles and geopackages. However at L114, the code uses `gpd.read_file(spatial_extent)`, which should mean that any other OGR supported vector file format should work (e.g. GeoJSON, FlatGeoBuf, etc).

Do you think it's possible to remove the hardcoded file extension ch

[2022-10-28 00:45] #151 closed

[2022-10-28 00:46] #325 closed

[2022-11-11 10:16] JennyFArthur commented on #373
Hello team Icepyx,

I am running into the same problem with reader.load(). When I try to load the data use reader.load(), this returns a KeyError: ‘orbit_info’. When running region_a.order_granules(), I also noticed that four granules are missing some data (e.g. ‘Granule 229005537 contained no data within the spatial and/or temporal subset constraints to be processed’).

My intention is to use the

[2022-11-16 23:42] JessicaS11 commented on #373
Thanks for reporting that you're also having this issue, @JennyFArthur (and I noted that you also posted on Discourse). Unfortunately, no one has come forward to work on a bug fix, and I haven't gotten to it yet either. Were you able to try any of the potential near-term solutions suggested in the Discourse thread?

[2022-11-28 11:55] datigeofisica opened #389 "order_vars Issue"
Hello,
I'm using the last version of Icepyx (I upgraded today to 0.6.4, I've used the 0.6.3 until yesterday). The script has worked without problem until November 18th. For the last week I got the following errors:

[code]
Trying to go deeper to this problem, I noticed that the problem occurs everytime that I try to launch the function order_vars. This has worked without any problems until that da

[2022-11-29 19:35] JessicaS11 commented on #389
Hello @datigeofisica! Thanks for reporting this issue. Could you please provide the first few lines of code you are using to set up your query object (i.e. everything up to `region_a.order_vars.append(var_list=['lat_ph','lon_ph','h_ph', "geoid", "signal_conf_ph", "quality_ph"])`)? This, combined with the information you've already provided, will allow me to try and reproduce the error. Thanks!